<section class="newsletter-section ptb-100"> 
    <div class="container gray-bg"> 
        <div class="section-title white-title">
            <h2>Join Our Newsletter</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do</p>
        </div>

        <div class="subscribe-from">
            <form class="newsletter-form" data-toggle="validator">
                <input type="email" class="form-control" placeholder="Enter email" name="EMAIL" required autocomplete="off">
                <button type="submit" class="btn submit-btn"><i class="icofont-location-arrow"></i></button>
                <div id="validator-newsletter" class="form-result"></div>
            </form>
        </div>
    </div>
</section>