<div class="page-title">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-7">
                <h2>About Us</h2>
            </div>

            <div class="col-md-6 col-lg-5">
                <ul>
                    <li><a [routerLink]="'/home'">Home</a></li>
                    <li>About Us</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<section class="welcome-section ptb-100">
    <div class="container">
        <div class="section-title">
            <h2>Welcome to AfyaRekod</h2>
            <p>Afyarekod is an AI-driven two-way health data management platform for storage and communication used by
                patients, doctors, health workers, and hospitals.</p>
        </div>

        <div class="row">
            <div class="col-md-6 col-lg-4">
                <div class="single-box">
                    <div class="icon">
                        <i class="icofont-database"></i>
                    </div>

                    <h3>Store Health</h3>
                    <p>
                        Patients can keep relevant health history including medical records, prescriptions and doctors
                        notes in a secure, easy to access data plaform.
                    </p>
                </div>
            </div>

            <div class="col-md-6 col-lg-4">
                <div class="single-box">
                    <div class="icon">
                        <i class="icofont-chart-bar-graph"></i>
                    </div>

                    <h3>Data Driven Solution for Decision</h3>
                    <p>
                        Health organizations can collect patient-authorized data and gain insight on how to improve
                        their health through AI data modelling.
                    </p>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 offset-md-3 offset-lg-0">
                <div class="single-box">
                    <div class="icon">
                        <i class="icofont-education"></i>
                    </div>

                    <h3>Patient Education</h3>
                    <p>
                        Health practitioners and organizations can push their health content to patients in form of
                        surveys, health articles and insights on medications.
                    </p>
                </div>
            </div>
        </div>

        <div class="welcome-inner-content">
            <div class="row justify-content-center align-items-center">
                <div class="col-lg-6">
                    <div class="welcome-image">
                        <img src="assets/img/team/john.jpg" alt="about">
                    </div>
                </div>

                <div class="col-lg-6">
                    <span>About Us</span>
                    <h3>We are a Consumer-Driven Health Data Platform Built on AI and Blockchain Technology.</h3>
                    <p class="my-3">
                        We have a strong consumer focus and a full product suite built for medical facilities and
                        organizations of all sizes to manage their inpatients and outpatients.
                    </p>
                    <p class="my-3">
                        As an AI-driven two-way health data management platform, our goal is to provide you with storage
                        and communication. We serve various groups of people including patients, doctors, health
                        practitioners and organizations.
                    </p>
                    <p class="my-3">
                        Our goal is to help patients manage their health records and stay on top of their health. We
                        provide medical facilities, governments, and other partners a data-driven platform to store
                        health data and access patient information anytime and anywhere.
                    </p>
                    <p class="my-3">
                        We have built a robust platform that also provides a number of other tools and
                        features for medical facilities and health workers to manage patients in real-time.
                    </p>

                    <a [routerLink]="'/services'" class="default-btn ml-auto float-right"><i
                            class="icofont-rounded-double-right"></i>&nbsp;&nbsp;Learn More</a>
                </div>
            </div>
        </div>

        <div class="welcome-inner-content">
            <div class="section-title pt-50">
                <h2>How To Get Started?</h2>
                <p>If you are a patient, health practitioner, doctor or an organization you can get started by doing the
                    following:</p>
            </div>
            <div class="row justify-content-center align-items-start">
                <div class="col-lg-4">
                    <h6><strong>For Organisations</strong></h6>
                    <p>
                        Request a free trial from the <a class="text-danger" [routerLink]="'/contact'">contact us
                            page</a>
                        or visit <a href="https://data.afyarekod.com/register"
                            class="text-danger">web portal</a>
                    </p>
                    <p class="my-3">
                        Available features for an organization.
                    </p>
                    <ul>
                        <li>Patient and hospital management system</li>
                        <li>Two way communication in realtime</li>
                        <li>Tele medical</li>
                        <li>Data driven solution for decision</li>
                        <li>Inventory management</li>
                        <li>Patient health storage</li>
                        <li>Linked healthcare outside the hospital</li>
                    </ul>
                </div>
                <div class="col-lg-4">
                    <h6><strong>For Doctors</strong></h6>
                    <p>
                        <a class="text-danger"
                            href="https://play.google.com/store/apps/details?id=app.afya.rekod">Download
                            our mobile app</a> register for an account as a health practitioner.
                    </p>
                    <p class="my-3">
                        Features available for doctors
                    </p>
                    <ul>
                        <li>Access to patient data (authorized by patient)</li>
                        <li>Tele medicine </li>
                        <li>Real time communication </li>
                        <li>Education</li>
                        <li>Patient management in real time. </li>
                        <li>Cross border telemedicine </li>
                    </ul>
                </div>
                <div class="col-lg-4">
                    <h6><strong>For Patients</strong></h6>
                    <p>
                        <a class="text-danger" href="https://play.google.com/store/apps/details?id=app.afya.rekod">
                            Download our mobile app</a> register for an account as a patient to get started.
                    </p>
                    <p class="my-3">
                        Features available for patients
                    </p>
                    <ul>
                        <li>Patient app for managing data</li>
                        <li>On demand services </li>
                        <li>Patient education</li>
                        <li>Access to health professionals</li>
                        <li>Income generation</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<app-call-to-action></app-call-to-action>

<div class="cta-area ptb-100">
    <div class="container">
        <div class="cta-text-content pl-5">
            <h3>We are constantly evaluating and implementing ways to improve patient safety.</h3>
            <p>Please speak up when you have questions or concerns.</p>

            <div class="cta-contant">
                <i class="icofont-phone"></i>
                +254 700 00 0000
            </div>
        </div>

        <div class="cta-doctor-img">
            <div class="img" style="background-image: url(assets/img/announcement.jpg);"></div>
        </div>
    </div>
</div>

<app-newsletter></app-newsletter>