<div class="page-title">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-7">
                <h2>About Us</h2>
            </div>

            <div class="col-md-6 col-lg-5">
                <ul>
                    <li><a [routerLink]="'/home'">Home</a></li>
                    <li>About Us</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<section class="welcome-section ptb-100">
    <div class="container">
        <div class="section-title">
            <h2>Welcome to AfyaRekod</h2>
            <p>We are ready to build a better health system for access by all groups of people. Lets join hands and
                together we can come up with a better solution.</p>
        </div>

        <div class="row">
            <div class="col-md-6 col-lg-4">
                <div class="single-box">
                    <div class="icon">
                        <i class="icofont-database"></i>
                    </div>

                    <h3>Store Health</h3>
                    <p>
                        Patients can keep relevant health history including medical records, prescriptions and doctors
                        notes in a secure, easy to access data plaform.
                    </p>
                </div>
            </div>

            <div class="col-md-6 col-lg-4">
                <div class="single-box">
                    <div class="icon">
                        <i class="icofont-chart-bar-graph"></i>
                    </div>

                    <h3>Data Driven Solution for Decision</h3>
                    <p>
                        Health organizations can collect patient-authorized data and gain insight on how to improve
                        their health through AI data modelling.
                    </p>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 offset-md-3 offset-lg-0">
                <div class="single-box">
                    <div class="icon">
                        <i class="icofont-education"></i>
                    </div>

                    <h3>Patient Education</h3>
                    <p>
                        Health practitioners and organizations can push their health content to patients in form of
                        surveys, health articles and insights on medications.
                    </p>
                </div>
            </div>
        </div>

        <div class="welcome-inner-content">
            <div class="row justify-content-center align-items-center">
                <div class="col-lg-6">
                    <div class="welcome-image">
                        <img src="assets/img/team/john.jpg" alt="about">
                    </div>
                </div>

                <div class="col-lg-6">
                    <span>About Us</span>
                    <h3>Afya Rekod is a Consumer-Driven Health Data Platform Built on AI and Blockchain Technology.</h3>
                    <p>
                        Lack of accurate health data is the biggest disease in itself. Let’s join forces and take
                        individual steps to ensure that we store, keep track of our health records and have access to
                        our health information.
                        Dial *380# to get started
                    </p>
                    <p>
                        Our goal is to help every individual take charge of their health and improve their well being.
                        Lack of data causes untimely deaths. Afya Rekod provides a platform that allows you to store and
                        access your medical data in real-time and allows for better access and improvement of the
                        quality of health care that you receive.
                    </p>
                    <p>
                        We provide a decentralized and patient-focused platform that facilitates ease of medical
                        reporting, access
                        to health information and services granting the user autonomy and control of their health data.
                    </p>

                    <a [routerLink]="'/services'" class="default-btn"><i
                            class="icofont-rounded-double-right"></i>&nbsp;&nbsp;Learn More</a>
                </div>
            </div>
        </div>
        <div class="welcome-inner-content">
            <div class="row justify-content-center align-items-start">
                <div class="col-lg-12 mb-5">
                    <h3 class="text-center">What we Offer</h3>
                </div>

                <div class="col-lg-4">
                    <h6><strong>For Organisations</strong></h6>
                    <ul>
                        <li>Patient and hospital management system</li>
                        <li>Two way communication in realtime</li>
                        <li>Tele medical</li>
                        <li>Data driven solution for decision</li>
                        <li>Inventory management</li>
                        <li>Patient health storage</li>
                        <li>Linked healthcare outside the hospital</li>
                    </ul>
                </div>
                <div class="col-lg-4">
                    <h6><strong>For Doctors</strong></h6>
                    <ul>
                        <li>Access to patient data (authorized by patient)</li>
                        <li>Tele medicine </li>
                        <li>Real time communication </li>
                        <li>Education</li>
                        <li>Patient management in real time. </li>
                        <li>Cross border telemedicine </li>
                    </ul>
                </div>
                <div class="col-lg-4">
                    <h6><strong>For Patients</strong></h6>
                    <ul>
                        <li>Patient app for managing data</li>
                        <li>On demand services </li>
                        <li>Patient education</li>
                        <li>Access to health professionals</li>
                        <li>Income generation</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="video-section ptb-100">
    <div class="container">
        <div class="section-title white-title">
            <h2>Watch Our Video</h2>
            <p>What is AfyaRekod? Why AfyaRekod at all? This introduction will explain to you in summary what AfyaRekod
                is all about. Who we are and what we do as an AI driven platform.</p>
        </div>

        <div class="video-content mb-minus-330">
            <div class="d-table">
                <div class="d-tablecell">
                    <div class="sonar-wrapper">
                        <div class="sonar-emitter">
                            <div class="sonar-wave"></div>
                            <a href="https://www.youtube.com/watch?v=QFk8mdhEvWM" class="play-video popup-youtube">
                                <i class="icofont-play"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="ptb-90">&nbsp;</div>
<section class="expert-doctors ptb-100 gray-bg pb-70">
    <div class="container">
        <div class="section-title">
            <h2>Our Team</h2>
            <p>
                Meet our team members who are experts in a wide range of industries including AI, Medical, Blockchain
                and PR.
                Their combined expertise is our greatest asset and what will propel our growth.
            </p>
        </div>

        <div class="expert-doctors-carousel owl-carousel owl-theme owl-theme-2">
            <div class="single-card">
                <div class="thumb-img">
                    <img src="assets/img/team/john.jpg" alt="Mr. John Kamara" />
                    <div class="hover-social">
                        <div class="d-table">
                            <div class="d-tablecell">
                                <ul>
                                    <li>
                                        <a href="https://linkedin.com/in/johnkamara" target="_blank">
                                            <i class="icofont-linkedin"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="caption-text text-center">
                    <h3>John Kamara</h3>
                    <span class="designation mb-10">Founder & CEO</span>
                    <p>John is a tech entrepreneur(AI, Blockchain, IOT) and also a keynote speaker. He is the founder of
                        Jamborow, Afyarekod and Adalabs</p>
                </div>
            </div>

            <div class="single-card">
                <div class="thumb-img">
                    <img src="assets/img/team/irene.png" alt="Irene Kiwia" />
                    <div class="hover-social">
                        <div class="d-table">
                            <div class="d-tablecell">
                                <ul>
                                    <li>
                                        <a href="https://linkedin.com/in/kiwiairene" target="_blank">
                                            <i class="icofont-linkedin"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="caption-text text-center">
                    <h3>Irene Kiwia</h3>
                    <span class="designation mb-10">Co-Founder & Board Member</span>
                    <p>
                        Irene Kiwia is a tech entrepreneur and women and youth empowerment proponent.
                    </p>
                </div>
            </div>

            <div class="single-card">
                <div class="thumb-img">
                    <img src="assets/img/team/nancy.png" alt="Nancy Christiano" />
                    <div class="hover-social">
                        <div class="d-table">
                            <div class="d-tablecell">
                                <ul>
                                    <li>
                                        <a href="https://linkedin.com/in/nancy-dyste-christiano" target="_blank">
                                            <i class="icofont-linkedin"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="caption-text text-center">
                    <h3>Nancy Christiano</h3>
                    <span class="designation mb-10">Co-Founder</span>
                    <p>
                        Nancy is an entrepreneur with focus in connecting people, products & services to benefit
                        humanity.
                    </p>
                </div>
            </div>

            <div class="single-card">
                <div class="thumb-img">
                    <img src="assets/img/team/ron.png" alt="Ronald Harris" />
                    <div class="hover-social">
                        <div class="d-table">
                            <div class="d-tablecell">
                                <ul>
                                    <li>
                                        <a href="https://www.linkedin.com/in/ronald-m-harris-md-mba-faad-32969b18/"
                                            target="_blank">
                                            <i class="icofont-linkedin"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="caption-text text-center">
                    <h3>Dr.Ronald Harries</h3>
                    <span class="designation mb-10">Co-Founder</span>
                    <p>
                        Ronal is a clinical professor of dermatology, UC Irvine
                    </p>
                </div>
            </div>
            <div class="single-card">
                <div class="thumb-img">
                    <img src="assets/img/team/nixon.jpg" alt="Nixon M. Gecheo" />
                    <div class="hover-social">
                        <div class="d-table">
                            <div class="d-tablecell">
                                <ul>
                                    <li>
                                        <a href="https://www.linkedin.com/in/nixon-mageka-8482b966/" target="_blank">
                                            <i class="icofont-linkedin"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="caption-text text-center">
                    <h3>Nixon Mageka Gecheo </h3>
                    <span class="designation mb-10">Board Member</span>
                    <p>
                        Nixon is the director of government affairs in Kenya.
                    </p>
                </div>
            </div>
            <div class="single-card">
                <div class="thumb-img">
                    <img src="assets/img/team/bendon.jpg" alt="Bendon Mugor" />
                    <div class="hover-social">
                        <div class="d-table">
                            <div class="d-tablecell">
                                <ul>
                                    <li>
                                        <a href="https://www.linkedin.com/in/bendonmurgor/" target="_blank">
                                            <i class="icofont-linkedin"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="caption-text text-center">
                    <h3>Bendon Mugor</h3>
                    <span class="designation mb-10">CTO (Chief Technology Officer)</span>
                    <p>
                        Bendon is the CEO at Paylend Ltd.
                    </p>
                </div>
            </div>

            <div class="single-card">
                <div class="thumb-img">
                    <img src="assets/img/team/zuhudi.jpg" alt="Zuhudi Hani" />
                    <div class="hover-social">
                        <div class="d-table">
                            <div class="d-tablecell">
                                <ul>
                                    <li>
                                        <a href="https://www.linkedin.com/in/umuhany-zuhudi/" target="_blank">
                                            <i class="icofont-linkedin"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="caption-text text-center">
                    <h3>Umuhany Zuhudi</h3>
                    <span class="designation mb-10">General Manager</span>
                    <p>
                        Zuhudi is a Product Manager | Enabling Startups in Africa.
                    </p>
                </div>
            </div>

            <div class="single-card">
                <div class="thumb-img">
                    <img src="assets/img/team/jane.png" alt="Dr. Jane Thomas" />
                    <div class="hover-social">
                        <div class="d-table">
                            <div class="d-tablecell">
                                <ul>
                                    <li>
                                        <a href="https://www.linkedin.com/in/umuhany-zuhudi/" target="_blank">
                                            <i class="icofont-linkedin"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="caption-text text-center">
                    <h3>Dr. Jane Thomas</h3>
                    <span class="designation mb-10">Advisor</span>
                    <p>
                        Jane is a former adviser of WHO and the CEO of Fintech World Wide.
                    </p>
                </div>
            </div>

            <div class="single-card">
                <div class="thumb-img">
                    <img src="assets/img/team/mapes.png" alt="Dan Mapes" />
                    <div class="hover-social">
                        <div class="d-table">
                            <div class="d-tablecell">
                                <ul>
                                    <li>
                                        <a href="https://www.linkedin.com/in/danmapes/" target="_blank">
                                            <i class="icofont-linkedin"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="caption-text text-center">
                    <h3>Dan Mapes</h3>
                    <span class="designation mb-10">Advisor</span>
                    <p>
                        Dan is the founder of Verses.io and The Spatial Web Foundation
                    </p>
                </div>
            </div>

            <div class="single-card">
                <div class="thumb-img">
                    <img src="assets/img/team/molinari.jpg" alt="Vince Monilari" />
                    <div class="hover-social">
                        <div class="d-table">
                            <div class="d-tablecell">
                                <ul>
                                    <li>
                                        <a href="https://www.linkedin.com/in/vincemolinari/" target="_blank">
                                            <i class="icofont-linkedin"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="caption-text text-center">
                    <h3>Vince Monilari</h3>
                    <span class="designation mb-10">Advisor</span>
                    <p>
                        Vince is one of the hosts at Fintech.TV & TheIMPACT
                    </p>
                </div>
            </div>

            <div class="single-card">
                <div class="thumb-img">
                    <img src="assets/img/team/gamil.png" alt="Gamil de Chadarevian" />
                    <div class="hover-social">
                        <div class="d-table">
                            <div class="d-tablecell">
                                <ul>
                                    <li>
                                        <a href="https://afyarekod.com/#" target="_blank">
                                            <i class="icofont-linkedin"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="caption-text text-center">
                    <h3>Gamil de Chadarevian</h3>
                    <span class="designation mb-10">Advisor</span>
                    <p>
                        Gamil is the Founder & Director of GIST Initiatives Ltd and GIST Holdings Ltd.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<app-call-to-action></app-call-to-action>

<!-- CTA Area -->
<div class="cta-area gray-bg ptb-100">
    <div class="container">
        <div class="cta-text-content pl-5">
            <h3>We are constantly evaluating and implementing ways to improve patient safety.</h3>
            <p>Please speak up when you have questions or concerns.</p>

            <div class="cta-contant">
                <i class="icofont-phone"></i>
                +254 700 00 0000
            </div>
        </div>

        <div class="cta-doctor-img">
            <div class="img"></div>
        </div>
    </div>
</div>
<!-- CTA Area -->

<app-newsletter></app-newsletter>