<!-- Page Title -->
<div class="page-title page-title-blog-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-7">
                <h2>Blog Details</h2>
            </div>

            <div class="col-md-6 col-lg-5">
                <ul>
                    <li><a [routerLink]="'/home'">Home</a></li>
                    <li><a [routerLink]="'/blog'">All Posts</a></li>
                    <li>View Post</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<section class="blog-details-area gray-bg ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <div class="blog-details">
                    <div class="article-img">
                        <img src="http://localhost:9090/{{post.post_image_url}}" alt="blog-details">
                        <div class="date" [innerHTML]="post.createdAt"></div>
                    </div>

                    <div class="article-content">
                        <ul class="category">
                            <li><a href="javascript:void">IT</a></li>
                            <li><a href="javascript:void">Mobile</a></li>
                            <li><a href="javascript:void">Marketing</a></li>
                            <li><a href="javascript:void">Design</a></li>
                            <li><a href="javascript:void">Development</a></li>
                        </ul>

                        <h3  class="title my-4">{{post.post_title}}</h3>
                        <div>
                            <div [innerHTML]="post.post_content"></div>
                        </div>
                        <div class="share-post">
                            <ul>
                                <li><a href="javascript:void"><i class="icofont-facebook"></i></a></li>
                                <li><a href="javascript:void"><i class="icofont-twitter"></i></a></li>
                                <li><a href="javascript:void"><i class="icofont-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-12">
                <app-sidebar></app-sidebar>
            </div>
        </div>
    </div>
</section>

<app-call-to-action></app-call-to-action>