<footer class="pt-100 pb-50">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-4">
                <div class="footer-widget">
                    <a [routerLink]="'/home'" class="footer-logo">
                        <img src="assets/img/mainlogo.png" alt="AfyaRekod Logo">
                    </a>
                    <!-- <hr> -->
                    <ul class="socials-links">
                        <li><a href="https://www.facebook.com/Afya_Rekod-101708374728535/" target="_blank"><i
                                    class="icofont-facebook"></i></a></li>
                        <li><a href="https://twitter.com/AfyaRekod" target="_blank"><i class="icofont-twitter"></i></a>
                        </li>
                        <li><a href="https://www.linkedin.com/company/afya-rekod-limited" target="_blank"><i
                                    class="icofont-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>

            <div class="col-sm-6 col-md-4 col-lg-2">
                <div class="footer-widget">
                    <h3>Quick Links</h3>
                    <ul>
                        <li><a [routerLink]="'/home'">Home</a></li>
                        <li><a [routerLink]="'/about'">About</a></li>
                        <li><a [routerLink]="'/services'">Services</a></li>
                        <!-- <li><a [routerLink]="'/home'">Gallery</a></li> -->
                        <li><a [routerLink]="'/blog'">Blog</a></li>
                        <li><a [routerLink]="'/contact'">Contact</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="footer-widget">
                    <h3>Relations</h3>
                    <ul>
                        <li><a href="https://adalabsafrica.com/" target="_blank">Ada Labs</a></li>
                        <li><a href="https://adalabsafrica.com/" target="_blank">Twaa</a></li>
                        <li><a href="https://phemaagri.com/" target="_blank">Phema AGRI</a></li>
                        <li><a href="http://paylend.africa/" target="_blank">PayLend</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-sm-12 col-md-4 col-lg-3">
                <div class="footer-widget">
                    <h3>Contact Us</h3>
                    <p>Reach us through.</p>

                    <div class="foot-contact-info">
                        <i class="icofont-phone"></i>
                        <p>+254 700 00 0000 <br> +254 733 00 0000</p>
                    </div>

                    <div class="foot-contact-info">
                        <i class="icofont-email"></i>
                        <p><br />info@afyarekod.com
                            <!-- <br> suport@afyarekod.com -->
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="separate-line"></div>

        <div class="row bottom-footer">
            <div class="col-md-6 col-lg-6">
                <p>Copyright @ 2020, AfyaRekod. All rights reserved.</p>
            </div>
            <div class="col-md-6 col-lg-6">
                <ul>

                    <li>
                       <a [routerLink]="'/documents/health'" [queryParams]="{doc:'terms.pdf'}">Terms & Conditions</a>
                    </li>

                    <li>
                        <a [routerLink]="'/documents/health'" [queryParams]="{doc:'privacy.pdf'}">Privacy Statement</a>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</footer>