<div class="page-title">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-7">
                <h2>Forums</h2>
            </div>

            <div class="col-md-6 col-lg-5">
                <ul>
                    <li><a [routerLink]="'/home'">Home</a></li>
                    <li>Forums</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- PUT OTHER CONTENT for this page FROM HERE -->
<!-- include other forum components in this module only -->
<!-- eg ng g c forum/forum-card  => this way it will be only in this module -->