<section class="call-to-action" style="background-image: url(assets/img/slider/database.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-9">
                <div class="call-to-action-text">
                    <i class="icofont-live-support"></i>
                    <h3>Reach Our Support Team</h3>
                    <p>
                        let us help you by answering any of your questions. for inquiries or support contact <span>No.
                            +254 700 00 0000</span> or send us a message via our contact form.
                    </p>
                </div>
            </div>

            <div class="col-md-12 col-lg-3">
                <a [routerLink]="'/contact'" class="default-btn"><i class="icofont-rounded-double-right"></i>&nbsp;&nbsp;Contact Us</a>
            </div>
        </div>
    </div>
</section>