<header class="main-header">
    <div class="header-info-text">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-lg-8">
                    <ul class="contact-info">
                        <li>
                            <i class="icofont-envelope"></i>
                            Contact us: support@afyarekod.com
                        </li>
                        <!-- <li>
                            <i class="icofont-location-pin"></i>
                            The Pavillion, West Kabete Road, Nairobi Kenya
                        </li> -->
                    </ul>
                </div>

                <div class="col-md-4 col-lg-4">
                    <ul class="social-links">
                        <li>
                            <a href="https://www.facebook.com/Afya_Rekod-101708374728535/" target="_blank">
                                <i class="icofont-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://twitter.com/AfyaRekod" target="_blank">
                                <i class="icofont-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/company/afya-rekod-limited" target="_blank">
                                <i class="icofont-linkedin"></i>
                            </a>
                        </li>
                        <!-- <li>
                            <a href="index.html#">
                                <i class="icofont-instagram"></i>
                            </a>
                        </li> -->
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="navbar-container header-sticky is is-sticky">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container">
                <a class="navbar-brand" [routerLink]="'/'">
                    <img src="assets/img/mainlogo.png" alt="Logo" height="50">
                </a>

                <button class="navbar-toggler not-showing" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span id="humburger" class="navbar-toggler-icon"></span>
                    <span id="closebtn" class="close-iconn py-1 px-1 hide">✖</span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav m-auto">
                        <li class="nav-item">
                            <a class="nav-link" [routerLink]="'/'">Home</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" [routerLink]="'/about'">About</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" [routerLink]="'/services'">Services</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" [routerLink]="'/blog'">Blog</a>
                        </li>
                       
                        <li class="nav-item">
                            <a class="nav-link" [routerLink]="'/contact'">Contact</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="javascript:void(0)" role="button" data-target="#dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Other
                            </a>
                            <div class="dropdown-menu" id="dropdown">
                                <a class="dropdown-item" [routerLink]="'/demo'">App Demo</a>
                                <a class="dropdown-item" [routerLink]="'/contact'">Free Trial</a>
                                <a class="dropdown-item" [routerLink]="'/documents'">Our Policies</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://data.afyarekod.com/" target="_blank"><i class="icofont-lock"></i>&nbsp;Login</a>
                        </li>
                    </ul>

                    <div class="appointment-inline my-lg-0">
                        <a href="https://play.google.com/store/apps/details?id=app.afya.rekod" target="_blank"
                            class="appointment-btn">
                            <i class="icofont-download" style="font-size: larger;"></i>&nbsp;&nbsp;&nbsp;
                            DOWNLOAD APP
                        </a>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</header>