<div class="page-title">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-7">
                <h2>Services</h2>
            </div>

            <div class="col-md-6 col-lg-5">
                <ul>
                    <li><a [routerLink]="'/home'">Home</a></li>
                    <li>Services</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<section class="services-section ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single-services">
                    <div class="icon">
                        <i class="icofont-stock-mobile"></i>
                    </div>
                    <h3>Patient App for Managing Data</h3>
                    <p>Use a user friendly app to keep your relevant prescriptions, medications and daily health
                        diaries.</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single-services">
                    <div class="icon">
                        <i class="icofont-sub-listing"></i>
                    </div>
                    <h3>Patient Education</h3>
                    <p>Get good content from experienced professionals. Access our blog articles and news feed from
                        mobile app. </p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single-services">
                    <div class="icon">
                        <i class="icofont-address-book"></i>
                    </div>
                    <h3>Patient Access to Health Professionals </h3>
                    <p>Look up available doctors, request appointments and checkout available pharmacies all from the
                        mobile app.</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single-services">
                    <div class="icon">
                        <i class="icofont-money-bag"></i>
                    </div>
                    <h3>Patient Income generation </h3>
                    <p>Generate AfyaRekod points and real cash by participating in numerous of our health surveys in app
                        and on web.</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single-services">
                    <div class="icon">
                        <i class="icofont-hospital"></i>
                    </div>
                    <h3>Organization's Patient& HMS </h3>
                    <p>
                        We provide a user friendly patient and hospital management system for health organizations both
                        private and public.
                    </p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single-services">
                    <div class="icon">
                        <i class="icofont-ui-text-chat"></i>
                    </div>
                    <h3>Organizational Realtime Communication </h3>
                    <p>All subscribed organizations will access a two way communication in realtime with their patients
                        groups.
                    </p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single-services">
                    <div class="icon">
                        <i class="icofont-doctor"></i>
                    </div>
                    <h3>Tele medical</h3>
                    <p>Consult health specialists, share necessary information and get a correct diagnosis and futher
                        advice on what to do.</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single-services">
                    <div class="icon">
                        <i class="icofont-data"></i>
                    </div>
                    <h3>Data Driven Solution</h3>
                    <p>organizations will access data analytics on their registered patients for decision making.</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single-services">
                    <div class="icon">
                        <i class="icofont-copy-invert"></i>
                    </div>
                    <h3>Inventory management</h3>
                    <p>
                        Organizations will be able to manage their content, alerts and messages to their patients
                        (groups).
                    </p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single-services">
                    <div class="icon">
                        <i class="icofont-livejournal"></i>
                    </div>
                    <h3>Patient Health Storage</h3>
                    <p>Organizations can now store records of important prescriptions, diagnosis or health histroies of
                        patients.</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single-services">
                    <div class="icon">
                        <i class="icofont-shield-alt"></i>
                    </div>
                    <h3>Extended Healthcare</h3>
                    <p>Organizations can now link their healthcare outside the hospitals and their offices through
                        in-app followups and reminders .</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single-services">
                    <div class="icon">
                        <i class="icofont-chart-line"></i>
                    </div>
                    <h3>Doctor Access To Patient Data</h3>
                    <p>
                        Doctors can now access data(diaries, prescriptions & medications logs) that is shared by
                        patients to help them in decision making.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-services">
                    <div class="icon">
                        <i class="icofont-wechat"></i>
                    </div>
                    <h3>Real Time Communication </h3>
                    <p>
                        Doctors can chat with their patients in the mobile app, and patients can do the same too.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-services">
                    <div class="icon">
                        <i class="icofont-map-pins"></i>
                    </div>
                    <h3>Disease Mapping</h3>
                    <p>
                        Organizations can have access to the various diseases and sysmptoms with their mapped
                        distribution
                        across their regions
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-services">
                    <div class="icon">
                        <i class="icofont-brainstorming"></i>
                    </div>
                    <h3>AI modeling</h3>
                    <p>
                        We use the data collected to generate detailed reports for organizations.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-services">
                    <div class="icon">
                        <i class="icofont-newspaper"></i>
                    </div>
                    <h3>Data Driven Research</h3>
                    <p>
                        Using the date analytics provided, organizations can further carry research based on this data
                        through surveys.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<app-call-to-action></app-call-to-action>