<div class="page-title">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-7">
                <h2>Documents</h2>
            </div>

            <div class="col-md-6 col-lg-5">
                <ul>
                    <li><a [routerLink]="'/home'">Home</a></li>
                    <li>Documents</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<section class="ptb-90">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-12 col-xs-11 py-5">
                <h2 class="mb-4" style="color:#777">TERMS AND CONDITIONS</h2>
                <hr>
                <p align="center"><span style="font-family: 'Times New Roman', serif;"><span
                            style="font-size: medium;"><strong>TERMS AND CONDITIONS</strong></span></span></p>
                <p align="justify"><span style="color: #000000;"><span
                            style="font-family: 'Times New Roman', serif;"><span
                                style="font-size: medium;"><strong>Introduction</strong></span></span></span></p>
                <p align="justify">&nbsp;</p>
                <p align="justify"><span style="font-family: 'Times New Roman', serif;"><span
                            style="font-size: medium;">These terms and conditions (the &ldquo;Terms and
                            Conditions&rdquo;) apply to your use of our Afya Records platform (&ldquo;the
                            platform&rdquo;) created by Afya Records (Kenya) Limited. It is important that you read
                            these Terms and Conditions before you start using the platform. If you wish to get any
                            clarification, please do not hesitate to ask reach us via </span></span><span
                        style="font-family: 'Times New Roman', serif;"><span
                            style="font-size: medium;"><strong>info@afyarekod.com.</strong></span></span></p>
                <p align="justify">&nbsp;</p>
                <p align="justify"><span style="font-family: 'Times New Roman', serif;"><span
                            style="font-size: medium;">By clicking the &ldquo;Accept&rdquo; button on the platform, you
                            acknowledge that you have read, understood and agree to be bound by these Terms and
                            Conditions. </span></span></p>
                <p align="justify"><span style="color: #000000;"><span
                            style="font-family: 'Times New Roman', serif;"><span style="font-size: medium;"><strong>Our
                                    Platform</strong></span></span></span></p>
                <p align="justify"><span style="font-family: 'Times New Roman', serif;"><span
                            style="font-size: medium;">Our platform allows you to post, link, store, share and otherwise
                            make available certain information, text, graphics, documents, videos, or other material
                            (&ldquo;Content&rdquo;) relating to your health and conversely make available this content
                            to authorized health practitioners for use in the manner as shall be advised or restricted
                            by our users.</span></span></p>
                <p align="justify"><span style="font-family: 'Times New Roman', serif;"><span
                            style="font-size: medium;">You are therefore fully responsible for the Content that you post
                            on our platform, including its legality, reliability, appropriateness and completeness. You
                            are also responsible to ensure that the content is shared with authorized and bonafide
                            health practitioners you wish have grant access to the content. We are not liable in any
                            manner as to how the content shared with the health practitioners is to be
                            used.</span></span></p>
                <p align="justify"><span style="font-family: 'Times New Roman', serif;"><span
                            style="font-size: medium;">By posting Content on the platform, you represent and warrant
                            that: </span></span></p>
                <p align="justify"><span style="color: #000000;"><span
                            style="font-family: 'Times New Roman', serif;"><span style="font-size: medium;">the content
                                is owned and relates to you or to a person who has authorized you to upload it on their
                                behalf and that you have the right to use it and the right to grant us the rights and
                                license as provided in these Terms, and conditions </span></span></span></p>
                <p align="justify"><span style="color: #000000;"><span
                            style="font-family: 'Times New Roman', serif;"><span style="font-size: medium;">that the
                                posting of your Content on our platform does not violate the privacy rights, publicity
                                rights, copyrights, contractual rights or any other rights of any person or entity.
                            </span></span></span></p>
                <p align="justify">&nbsp;</p>
                <p align="justify"><span style="color: #000000;"> <span
                            style="font-family: 'Times New Roman', serif;"><span
                                style="font-size: medium;"><strong>Rights over the uploaded
                                    content</strong></span></span></span></p>
                <p align="justify"><span style="font-family: 'Times New Roman', serif;"><span
                            style="font-size: medium;">By posting on our platform you grant us the right and license to
                            use the data, to the extent permissible by law, to create and share generate statistics,
                            models or analysis relating to our user&rsquo;s health and avail such statistics with other
                            third parties.</span></span></p>
                <p align="justify"><span style="color: #000000;"><span
                            style="font-family: 'Times New Roman', serif;"><span
                                style="font-size: medium;"><strong>Prohibited Uses</strong></span></span></span></p>
                <p align="justify"><span style="font-family: 'Times New Roman', serif;"><span
                            style="font-size: medium;">By using our platform, you agree not to use this
                            plaform:</span></span></p>
                <p align="justify"><span style="color: #000000;"><span
                            style="font-family: 'Times New Roman', serif;"><span style="font-size: medium;">In any way
                                that violates any applicable national or international law or
                                regulation.</span></span></span></p>
                <p align="justify"><span style="color: #000000;"><span
                            style="font-family: 'Times New Roman', serif;"><span style="font-size: medium;">For the
                                purpose of exploiting, harming, or attempting to exploit anyone.</span></span></span>
                </p>
                <p align="justify"><span style="color: #000000;"><span
                            style="font-family: 'Times New Roman', serif;"><span style="font-size: medium;">To transmit,
                                or procure the sending of, any advertising or promotional material, including any
                                &ldquo;junk mail&rdquo;, &ldquo;chain letter,&rdquo; &ldquo;spam,&rdquo; or any other
                                similar solicitation.</span></span></span></p>
                <p align="justify"><span style="color: #000000;"><span
                            style="font-family: 'Times New Roman', serif;"><span style="font-size: medium;">To
                                impersonate or attempt to impersonate another user, or any other person or
                                entity.</span></span></span></p>
                <p align="justify"><span style="color: #000000;"><span
                            style="font-family: 'Times New Roman', serif;"><span style="font-size: medium;">In any way
                                that infringes upon the rights of others, or in any way is illegal, threatening,
                                fraudulent, or harmful, or in connection with any unlawful, illegal, fraudulent, or
                                harmful purpose or activity.</span></span></span></p>
                <p align="justify"><span style="color: #000000;"><span
                            style="font-family: 'Times New Roman', serif;"><span style="font-size: medium;">To engage in
                                any other conduct that restricts or inhibits anyone&rsquo;s use or enjoyment of the
                                platform, or which, as determined by us, may harm or offend or expose other users of
                                this platform </span></span></span></p>
                <p align="justify"><span style="color: #000000;"> <span
                            style="font-family: 'Times New Roman', serif;"><span style="font-size: medium;">infringe on
                                any intellectual property of another</span></span></span></p>
                <p align="justify"><span style="color: #000000;"><span
                            style="font-family: 'Times New Roman', serif;"><span style="font-size: medium;">Use this
                                platform in any manner that could disable, overburden, damage, or impair the platform or
                                interfere with any other party&rsquo;s use of the platform, including their ability to
                                engage in real time activities through the platform.</span></span></span></p>
                <p align="justify"><span style="color: #000000;"><span
                            style="font-family: 'Times New Roman', serif;"><span style="font-size: medium;">Use any
                                robot, spider, or other automatic device, process, or means to access the platform for
                                any purpose, including monitoring or copying any of the material on the
                                platform.</span></span></span></p>
                <p align="justify"><span style="color: #000000;"><span
                            style="font-family: 'Times New Roman', serif;"><span style="font-size: medium;">Use any
                                manual process to monitor or copy any of the material on the platform or for any other
                                unauthorized purpose without our prior written consent.</span></span></span></p>
                <p align="justify"><span style="color: #000000;"><span
                            style="font-family: 'Times New Roman', serif;"><span style="font-size: medium;">Use any
                                device, software, or routine that interferes with the proper working of
                                platform</span></span></span></p>
                <p align="justify"><span style="color: #000000;"><span
                            style="font-family: 'Times New Roman', serif;"><span style="font-size: medium;">Introduce
                                any viruses, trojan horses, worms, logic bombs, or other material which is malicious or
                                technologically harmful to the platform.</span></span></span></p>
                <p align="justify"><span style="color: #000000;"><span
                            style="font-family: 'Times New Roman', serif;"><span style="font-size: medium;">Attempt to
                                gain unauthorized access to, interfere with, damage, or disrupt any parts of the
                                paltform, the server on which platform is stored, or any server, computer, or database
                                connected to platform</span></span></span></p>
                <p align="justify"><span style="color: #000000;"><span
                            style="font-family: 'Times New Roman', serif;"><span style="font-size: medium;">Attempt to
                                interfere with the proper working of the platform.</span></span></span></p>
                <p align="justify">&nbsp;</p>
                <p align="justify"><span style="color: #000000;"><span
                            style="font-family: 'Times New Roman', serif;"><span style="font-size: medium;"><strong>No
                                    use of Platform by Minors</strong></span></span></span></p>
                <p align="justify"><span style="font-family: 'Times New Roman', serif;"><span
                            style="font-size: medium;">The platform is intended for access and use by individuals of at
                            least eighteen (18) years old. By accessing or using this platform you warrant and represent
                            that you are at least eighteen (18) years of age and that you full authority, right, and
                            capacity to enter into this agreement and abide by all of these terms and
                            conditions</span></span></p>
                <p align="justify"><span style="color: #000000;"><span
                            style="font-family: 'Times New Roman', serif;"><span
                                style="font-size: medium;"><strong>Accounts</strong></span></span></span></p>
                <p align="justify"><span style="font-family: 'Times New Roman', serif;"><span
                            style="font-size: medium;">When you create an account with us, you warrant to upload content
                            that is accurate, complete, and current at all times. Inaccurate, incomplete, falsified or
                            obsolete information may result in the immediate termination of your account on our
                            platform.</span></span></p>
                <p align="justify"><span style="font-family: 'Times New Roman', serif;"><span
                            style="font-size: medium;">You are responsible for maintaining the confidentiality of your
                            account and password, including but not limited to the restriction of access to your
                            computer and/or account. You agree to accept responsibility for any and all activities or
                            actions that occur through the use of your account and/or password. You must notify us
                            immediately upon becoming aware of any breach of security or unauthorized access or use of
                            your account.</span></span></p>
                <p align="justify"><span style="font-family: 'Times New Roman', serif;"><span
                            style="font-size: medium;">You may not use as a username, pseudonym, the name of another
                            person or entity or that is not lawfully available for use, is offensive, inappropriate,
                            vulgar, obsene or is subject to any rights of another person or entity other than
                            you</span></span></p>
                <p align="justify"><span style="color: #000000;"><span
                            style="font-family: 'Times New Roman', serif;"><span style="font-size: medium;"><strong>Data
                                    protection &amp; confidentiality</strong></span></span></span></p>
                <p align="justify"><span style="font-family: 'Times New Roman', serif;"><span
                            style="font-size: medium;">All personal data collected from you from the use of the platform
                            which includes: Email address, First name, last name, passport number, ID Number, address,
                            Phone number, location details, computer&rsquo;s Internet Protocol address (e.g. IP
                            address), internet browser type, browser version, the pages of our platform that you
                            visited, the time and date of your visit, the time spent on those pages, unique device
                            identifiers and other diagnostic data, type of device you used, your device unique ID, the
                            IP address of your device, your device operating system and Cookies (files sent to your
                            browser from a website and stored on your device to collect and track information and to
                            improve and analyze the performance of our platform) shall be managed by us as per to the
                            Data Protection Act, 2019. </span></span></p>
                <p align="justify"><span style="font-family: 'Times New Roman', serif;"><span
                            style="font-size: medium;">We shall ensure that the data collected shall be stored and be
                            kept confidential and as such, we shall </span></span>protect and safeguard against the
                    unauthorized use, disclosure, report, transfer or publication of the personal data collected. Any
                    disclosures of the personal data shall be restricted to the availing of the personal data upon
                    demand being made by mandated government agencies, the production of a court order or to our
                    officers, agents subsidiaries and affiliates.</p>
                <p align="justify"><span style="color: #000000;"><span
                            style="font-family: 'Times New Roman', serif;"><span
                                style="font-size: medium;"><strong>Receipt of
                                    notifications</strong></span></span></span></p>
                <p align="justify"><span style="font-family: 'Times New Roman', serif;"><span
                            style="font-size: medium;">By using our platform, you shall receive from us notifications,
                            newsletters, marketing, advertising and or promotional materials and other information from
                            the Platfrom or email. However, you may unsubscribe the receipt for such information by
                            licking the unsubscribe link we shall have provided.</span></span></p>
                <p align="justify"><span style="color: #000000;"><span
                            style="font-family: 'Times New Roman', serif;"><span
                                style="font-size: medium;"><strong>Intellectual Property</strong></span></span></span>
                </p>
                <p align="justify"><span style="font-family: 'Times New Roman', serif;"><span
                            style="font-size: medium;">The platform&rsquo;s content (excluding Content provided by
                            users), features and functionality are and will remain our exclusive property. You are
                            therefore not authorized to distribute, modify, transmit, reuse, download, repost, copy, or
                            use said Content, whether in whole or in part, for commercial purposes or for personal gain,
                            without express advance written permission from us.</span></span></p>
                <p align="justify"><span style="color: #000000;"><span
                            style="font-family: 'Times New Roman', serif;"><span
                                style="font-size: medium;"><strong>Equipment Malfunction</strong></span></span></span>
                </p>
                <p align="justify"><span style="font-family: 'Times New Roman', serif;"><span
                            style="font-size: medium;">We do not represent or guarantee that access to the platform will
                            be uninterrupted. You acknowledge that the platform may be affected by outages, faults or
                            delays. Such outages, faults or delays may be caused by factors including, but not limited
                            to, technical difficulties with the performance or operation of our software, equipment or
                            systems, traffic or technical difficulties with the Internet, or infrastructure failures
                            such as damaged phone lines or interference with digital signals.</span></span></p>
                <p align="justify">&nbsp;</p>
                <p align="justify">&nbsp;</p>
                <p align="justify"><span style="color: #000000;"><span
                            style="font-family: 'Times New Roman', serif;"><span style="font-size: medium;"><strong>Fees
                                    and Charges</strong></span></span></span></p>
                <p align="justify">&nbsp;</p>
                <p align="justify"><span style="font-family: 'Times New Roman', serif;"><span
                            style="font-size: medium;">You agree to pay the any fees and any charges that may be levied
                            in relation to the use of the platform and do authorize us to make automatic deductions of
                            the fees and charges payable from your credit card or any other payment method as the case
                            may be.</span></span></p>
                <p align="justify">&nbsp;</p>
                <p align="justify"><span style="color: #000000;"><span
                            style="font-family: 'Times New Roman', serif;"><span
                                style="font-size: medium;"><strong>Feedback</strong></span></span></span></p>
                <p align="justify"><span style="font-family: 'Times New Roman', serif;"><span
                            style="font-size: medium;">As a user, you may provide us either directly at </span></span><a
                        href="mailto:info@afyarekod.com"><span style="color: #0000ff;"><span
                                style="font-family: 'Times New Roman', serif;"><span
                                    style="font-size: medium;"><u>info@afyarekod.com</u></span></span></span></a><span
                        style="font-family: 'Times New Roman', serif;"><span style="font-size: medium;"> or via any
                            third party sites and tools with information and feedback concerning errors, suggestions for
                            improvements, ideas, problems, complaints, and other matters related to our platform
                            (&ldquo;Feedback&rdquo;). You acknowledge and agree that: </span></span></p>
                <p align="justify"><span style="color: #000000;"><span
                            style="font-family: 'Times New Roman', serif;"><span style="font-size: medium;">you shall
                                not retain, acquire or assert any intellectual property right or other right, title or
                                interest in or to the Feedback; </span></span></span></p>
                <p align="justify"><span style="color: #000000;"><span
                            style="font-family: 'Times New Roman', serif;"><span style="font-size: medium;">We may have
                                development ideas similar to the Feedback; </span></span></span></p>
                <p align="justify"><span style="color: #000000;"><span
                            style="font-family: 'Times New Roman', serif;"><span style="font-size: medium;">The feedback
                                does not contain confidential information or proprietary information from you or any
                                third party</span></span></span></p>
                <p align="justify"><span style="color: #000000;"><span
                            style="font-family: 'Times New Roman', serif;"><span style="font-size: medium;">That we are
                                not obligated to keep confidential the feedback provided.</span></span></span></p>
                <p align="justify"><span style="font-family: 'Times New Roman', serif;"><span
                            style="font-size: medium;">In the event the transfer of the ownership to the Feedback is not
                            possible due to applicable mandatory laws, you grant us and our affiliates an exclusive,
                            transferable, irrevocable, free-of-charge, sub-licensable, unlimited and perpetual right to
                            use (including copy, modify, create derivative works, publish, distribute and commercialize)
                            Feedback in any manner and for any purpose.</span></span></p>
                <p align="justify"><span style="font-family: 'Times New Roman', serif;"><span
                            style="font-size: medium;">13. </span></span><span
                        style="font-family: 'Times New Roman', serif;"><span style="font-size: medium;"><strong>Access
                                to other Web Sites</strong></span></span></p>
                <p align="justify"><span style="font-family: 'Times New Roman', serif;"><span
                            style="font-size: medium;">Our platform may contain links to third party web sites that are
                            not owned or controlled by ourselves. We have no control over, and assume no responsibility
                            for the content, privacy policies, or practices of any third party web sites. You
                            acknowledge and agree that we shall not be responsible or liable, directly or indirectly,
                            for any damage or loss caused or alleged to be caused by or in connection with use of or
                            reliance on any such content, goods or services available on or through any such third party
                            web sites.</span></span></p>
                <p align="justify"><span style="font-family: 'Times New Roman', serif;"><span
                            style="font-size: medium;">14. </span></span><span
                        style="font-family: 'Times New Roman', serif;"><span
                            style="font-size: medium;"><strong>Disclaimer of Warranty</strong></span></span></p>
                <p align="justify"><span style="font-family: 'Times New Roman', serif;"><span
                            style="font-size: medium;">We make no warranty or representation with respect to the
                            completeness, security, reliability, quality, accuracy, or availability of the content
                            uploaded, shared, used or derived from our platform. </span></span></p>
                <p align="justify">&nbsp;</p>
                <p align="justify">&nbsp;</p>
                <p align="justify"><span style="font-family: 'Times New Roman', serif;"><span
                            style="font-size: medium;">15. </span></span><span
                        style="font-family: 'Times New Roman', serif;"><span
                            style="font-size: medium;"><strong>Limitation of Liability</strong></span></span></p>
                <p align="justify"><span style="font-family: 'Times New Roman', serif;"><span
                            style="font-size: medium;">To the extent permissible by law, our liability to you in
                            relation to any claim filed against us, whether founded on contract or on tort shall not
                            exceed the fees or charges levied by us on the user.</span></span></p>
                <p align="justify"><span style="font-family: 'Times New Roman', serif;"><span
                            style="font-size: medium;">16. </span></span><span
                        style="font-family: 'Times New Roman', serif;"><span
                            style="font-size: medium;"><strong>Termination</strong></span></span></p>
                <p align="justify"><span style="font-family: 'Times New Roman', serif;"><span
                            style="font-size: medium;">We may terminate or suspend your account and bar access to the
                            platform immediately, without prior notice or liability, under our sole discretion, for any
                            reason whatsoever and without limitation, including but not limited to any breach of these
                            Terms and conditions.</span></span></p>
                <p align="justify"><span style="font-family: 'Times New Roman', serif;"><span
                            style="font-size: medium;">If you wish to terminate your account, you may simply discontinue
                            using the platform.</span></span></p>
                <p align="justify"><span style="font-family: 'Times New Roman', serif;"><span
                            style="font-size: medium;">18. </span></span><span
                        style="font-family: 'Times New Roman', serif;"><span style="font-size: medium;"><strong>Changes
                                to the platform</strong></span></span></p>
                <p align="justify"><span style="font-family: 'Times New Roman', serif;"><span
                            style="font-size: medium;">We reserve the right to withdraw or amend our platform without
                            notice. We will not be liable if for any reason all or any part of the platform being
                            unavailable at any time or for any period. From time to time, we may restrict access to some
                            all the entire parts of the platform to users</span></span></p>
                <p align="justify"><span style="font-family: 'Times New Roman', serif;"><span
                            style="font-size: medium;">19. </span></span><span
                        style="font-family: 'Times New Roman', serif;"><span
                            style="font-size: medium;"><strong>Amendments to these Terms and
                                conditions</strong></span></span></p>
                <p align="justify"><span style="font-family: 'Times New Roman', serif;"><span
                            style="font-size: medium;">We may amend Terms at any time by posting the amended terms on
                            this site and as such, we do recommend that you review these terms and conditions
                            periodically.</span></span></p>
                <p align="justify"><span style="font-family: 'Times New Roman', serif;"><span
                            style="font-size: medium;">By continuing to access or use our platform after any revisions
                            become effective, you agree to be bound by the revised terms. </span></span></p>
                <p align="justify"><span style="font-family: 'Times New Roman', serif;"><span
                            style="font-size: medium;">20. </span></span><span
                        style="font-family: 'Times New Roman', serif;"><span style="font-size: medium;"><strong>Waiver,
                                Severability and entire agreement</strong></span></span></p>
                <p align="justify"><span style="font-family: 'Times New Roman', serif;"><span
                            style="font-size: medium;">Our failure to enforce any right or provision of these Terms and
                            conditions shall not be considered a waiver of those rights. If any provision of these Terms
                            and conditions is held to be invalid or unenforceable by a court, the remaining provisions
                            of these Terms and conditions will remain in effect. These Terms and conditions constitute
                            the entire agreement between us regarding our the use of our platform and supersede and
                            replace any prior agreements we might have had in relation to the use of the
                            platform.</span></span></p>
                <p align="justify"><span style="font-family: 'Times New Roman', serif;"><span
                            style="font-size: medium;">17. </span></span><span
                        style="font-family: 'Times New Roman', serif;"><span
                            style="font-size: medium;"><strong>Governing Law</strong></span></span></p>
                <p align="justify"><span style="font-family: 'Times New Roman', serif;"><span
                            style="font-size: medium;">These Terms and conditions shall be governed and construed in
                            accordance with the laws of Kenya.</span></span></p>
                <p align="justify">&nbsp;</p>
                <p align="justify"><a name="_gjdgxs"></a> <span style="font-family: 'Times New Roman', serif;"><span
                            style="font-size: medium;">Last updated: 18</span></span><sup><span
                            style="font-family: 'Times New Roman', serif;"><span
                                style="font-size: medium;">th</span></span></sup><span
                        style="font-family: 'Times New Roman', serif;"><span style="font-size: medium;"> May
                            2020.</span></span></p>
                <p align="justify">&nbsp;</p>
                <p align="justify">&nbsp;</p>
            </div>
        </div>
    </div>
</section>