<div class="page-title">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-7">
                <h2>Blog</h2>
            </div>

            <div class="col-md-6 col-lg-5">
                <ul>
                    <li><a [routerLink]="'/home'">Home</a></li>
                    <li>Blog</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<section class="latest-news ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="single-card actical-card">
                            <div class="thumb-img">
                                <a href="blog.html#">
                                    <img src="assets/img/news/1.jpg" alt="News Image" />
                                </a>
                            </div>

                            <div class="caption-text">
                                <h3><a href="blog.html#">Baby Talk: Is Surrogacy An Option?</a></h3>

                                <ul class="meta-tag">
                                    <li class="author">
                                        <img src="assets/img/patient/1.jpg" alt="">
                                        <a href="blog.html#">Dr. Jacson</a>
                                    </li>
                                    <li>5 Jan, 2019</li>
                                    <li><i class="icofont-speech-comments"></i> 30</li>
                                </ul>

                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore</p>

                                <a href="blog.html#" class="read-more">Read More <i
                                        class="icofont-swoosh-right"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6">
                        <div class="single-card actical-card">
                            <div class="thumb-img">
                                <a href="blog.html#">
                                    <img src="assets/img/news/2.jpg" alt="News Image" />
                                </a>
                            </div>

                            <div class="caption-text">
                                <h3><a href="blog.html#">4 Simple Tips To Dental Patient Marketing</a></h3>

                                <ul class="meta-tag">
                                    <li class="author">
                                        <img src="assets/img/patient/1.jpg" alt="">
                                        <a href="blog.html#">Dr. Inline</a>
                                    </li>
                                    <li>8 Jan, 2019</li>
                                    <li><i class="icofont-speech-comments"></i> 30</li>
                                </ul>

                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore</p>

                                <a href="blog.html#" class="read-more">Read More <i
                                        class="icofont-swoosh-right"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6">
                        <div class="single-card actical-card">
                            <div class="thumb-img">
                                <a href="blog.html#">
                                    <img src="assets/img/news/3.jpg" alt="News Image" />
                                </a>
                            </div>

                            <div class="caption-text">
                                <h3><a href="blog.html#">How to Donate Medical Supplies</a></h3>

                                <ul class="meta-tag">
                                    <li class="author">
                                        <img src="assets/img/patient/1.jpg" alt="">
                                        <a href="blog.html#">Dr. Jach</a>
                                    </li>
                                    <li>9 Jan, 2019</li>
                                    <li><i class="icofont-speech-comments"></i> 30</li>
                                </ul>

                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore</p>

                                <a href="blog.html#" class="read-more">Read More <i
                                        class="icofont-swoosh-right"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6">
                        <div class="single-card actical-card">
                            <div class="thumb-img">
                                <a href="blog.html#">
                                    <img src="assets/img/news/4.jpg" alt="News Image" />
                                </a>
                            </div>

                            <div class="caption-text">
                                <h3><a href="blog.html#">Simple First Aid Tips For An Injured Ankle</a></h3>

                                <ul class="meta-tag">
                                    <li class="author">
                                        <img src="assets/img/patient/1.jpg" alt="">
                                        <a href="blog.html#">Dr. Jia</a>
                                    </li>
                                    <li>25 Jan, 2019</li>
                                    <li><i class="icofont-speech-comments"></i> 30</li>
                                </ul>

                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore</p>

                                <a href="blog.html#" class="read-more">Read More <i
                                        class="icofont-swoosh-right"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6">
                        <div class="single-card actical-card">
                            <div class="thumb-img">
                                <a href="blog.html#">
                                    <img src="assets/img/news/5.jpg" alt="News Image" />
                                </a>
                            </div>

                            <div class="caption-text">
                                <h3><a href="blog.html#">Tips for Moms to Detect Medicare Scams</a></h3>

                                <ul class="meta-tag">
                                    <li class="author">
                                        <img src="assets/img/patient/1.jpg" alt="">
                                        <a href="blog.html#">Dr. Smith</a>
                                    </li>
                                    <li>29 Jan, 2019</li>
                                    <li><i class="icofont-speech-comments"></i> 30</li>
                                </ul>

                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore</p>

                                <a href="blog.html#" class="read-more">Read More <i
                                        class="icofont-swoosh-right"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6">
                        <div class="single-card actical-card">
                            <div class="thumb-img">
                                <a href="blog.html#">
                                    <img src="assets/img/news/1.jpg" alt="News Image" />
                                </a>
                            </div>

                            <div class="caption-text">
                                <h3><a href="blog.html#">Baby Talk: Is Surrogacy An Option?</a></h3>

                                <ul class="meta-tag">
                                    <li class="author">
                                        <img src="assets/img/patient/1.jpg" alt="">
                                        <a href="blog.html#">Dr. Jacson</a>
                                    </li>
                                    <li>5 Jan, 2019</li>
                                    <li><i class="icofont-speech-comments"></i> 30</li>
                                </ul>

                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore</p>

                                <a href="blog.html#" class="read-more">Read More <i
                                        class="icofont-swoosh-right"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6">
                        <div class="single-card actical-card">
                            <div class="thumb-img">
                                <a href="blog.html#">
                                    <img src="assets/img/news/2.jpg" alt="News Image" />
                                </a>
                            </div>

                            <div class="caption-text">
                                <h3><a href="blog.html#">4 Simple Tips To Dental Patient Marketing</a></h3>

                                <ul class="meta-tag">
                                    <li class="author">
                                        <img src="assets/img/patient/1.jpg" alt="">
                                        <a href="blog.html#">Dr. Inline</a>
                                    </li>
                                    <li>8 Jan, 2019</li>
                                    <li><i class="icofont-speech-comments"></i> 30</li>
                                </ul>

                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore</p>

                                <a href="blog.html#" class="read-more">Read More <i
                                        class="icofont-swoosh-right"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6">
                        <div class="single-card actical-card">
                            <div class="thumb-img">
                                <a href="blog.html#">
                                    <img src="assets/img/news/3.jpg" alt="News Image" />
                                </a>
                            </div>

                            <div class="caption-text">
                                <h3><a href="blog.html#">How to Donate Medical Supplies</a></h3>

                                <ul class="meta-tag">
                                    <li class="author">
                                        <img src="assets/img/patient/1.jpg" alt="">
                                        <a href="blog.html#">Dr. Jach</a>
                                    </li>
                                    <li>9 Jan, 2019</li>
                                    <li><i class="icofont-speech-comments"></i> 30</li>
                                </ul>

                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore</p>

                                <a href="blog.html#" class="read-more">Read More <i
                                        class="icofont-swoosh-right"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12 col-md-12">
                        <div class="pagination-area">
                            <nav aria-label="Page navigation">
                                <ul class="pagination justify-content-center">
                                    <li class="page-item"><a class="page-link" href="blog.html#"><i
                                                class="icofont-hand-drawn-left"></i></a></li>
                                    <li class="page-item active"><a class="page-link" href="blog.html#">1</a></li>
                                    <li class="page-item"><a class="page-link" href="blog.html#">2</a></li>
                                    <li class="page-item"><a class="page-link" href="blog.html#">3</a></li>
                                    <li class="page-item"><a class="page-link" href="blog.html#">4</a></li>
                                    <li class="page-item"><a class="page-link" href="blog.html#"><i
                                                class="icofont-hand-drawn-right"></i></a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-12">
                <div class="side-bar">
                    <div class="widget search-box">
                        <form>
                            <input type="text" class="form-control" id="search-box" name="search"
                                placeholder="Search for...">
                            <button type="submit" class="default-btn"><i class="icofont-ui-search"></i></button>
                        </form>
                    </div>

                    <div class="widget latest-post">
                        <h4 class="title">Latest Post</h4>

                        <div class="single-post">
                            <div class="img">
                                <a href="blog.html#"><img src="assets/img/news/latest-post1.jpg" alt="latest-post"></a>
                            </div>

                            <div class="content">
                                <ul>
                                    <li>Posted by <a href="blog.html#">Admin</a></li>
                                </ul>
                                <h4><a href="blog.html#">Consulting Fee Structures: 5 Models Ranked from Worst to
                                        Best</a></h4>
                            </div>
                        </div>

                        <div class="single-post">
                            <div class="img">
                                <a href="blog.html#"><img src="assets/img/news/latest-post2.jpg" alt="latest-post"></a>
                            </div>

                            <div class="content">
                                <ul>
                                    <li>Posted by <a href="blog.html#">Admin</a></li>
                                </ul>
                                <h4><a href="blog.html#">5 Secrets to a Successful Business Coaching Relationship</a>
                                </h4>
                            </div>
                        </div>

                        <div class="single-post">
                            <div class="img">
                                <a href="blog.html#"><img src="assets/img/news/latest-post3.jpg" alt="latest-post"></a>
                            </div>

                            <div class="content">
                                <ul>
                                    <li>Posted by <a href="blog.html#">Admin</a></li>
                                </ul>
                                <h4><a href="blog.html#">How to Put Your Value Proposition to Work</a></h4>
                            </div>
                        </div>

                        <div class="single-post mb-0">
                            <div class="img">
                                <a href="blog.html#"><img src="assets/img/news/latest-post1.jpg" alt="latest-post"></a>
                            </div>

                            <div class="content">
                                <ul>
                                    <li>Posted by <a href="blog.html#">Admin</a></li>
                                </ul>
                                <h4><a href="blog.html#">Consulting Sales for the Elite Consultant</a></h4>
                            </div>
                        </div>
                    </div>

                    <div class="widget categories">
                        <h3 class="title">Categories</h3>

                        <ul>
                            <li><a href="blog.html#"><i class=" icofont-double-right"></i> Business Consulting</a></li>
                            <li><a href="blog.html#"><i class="icofont-double-right"></i> Financial Advice</a></li>
                            <li><a href="blog.html#"><i class="icofont-double-right"></i> Market Research</a></li>
                            <li><a href="blog.html#"><i class="icofont-double-right"></i> Business Solutions</a></li>
                            <li><a href="blog.html#"><i class="icofont-double-right"></i> Professional Planning</a></li>
                            <li><a href="blog.html#"><i class="icofont-double-right"></i> Finanace Services</a></li>
                            <li><a href="blog.html#"><i class="icofont-double-right"></i> Business Planning</a></li>
                        </ul>
                    </div>

                    <div class="widget popular-tags">
                        <h3 class="title">Popular Tags</h3>

                        <ul>
                            <li><a href="blog.html#">Business</a></li>
                            <li><a href="blog.html#">Finanace</a></li>
                            <li><a href="blog.html#">Solutions</a></li>
                            <li><a href="blog.html#">Market Research</a></li>
                            <li><a href="blog.html#">Planning</a></li>
                            <li><a href="blog.html#">Advice</a></li>
                            <li><a href="blog.html#">Financial</a></li>
                            <li><a href="blog.html#">Services</a></li>
                            <li><a href="blog.html#">Professional</a></li>
                        </ul>
                    </div>

                    <div class="widget quick-contact mb-0">
                        <h4>Quick contact to help?</h4>
                        <p>Excepteur sint occaecat non proident, sunt in culpa officia deserunt mollit anim id est
                            laborum.</p>
                        <a href="blog.html#">Contact Us <span class="right"><i
                                    class="icofont-double-right"></i></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Latest news section -->

<app-call-to-action></app-call-to-action>