<div class="page-title">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-7">
                <h2>Blog</h2>
            </div>

            <div class="col-md-6 col-lg-5">

                <ul>
                    <li><a [routerLink]="'/home'">Home</a></li>
                    <li>Blog</li>
                    <!-- <li><a class="btn btn-info btn-custom" href="http://localhost:4280/">Login Admin</a></li> -->
                </ul>
            </div>
        </div>
    </div>
</div>

<section class="latest-news ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <div class="row justify-content-center" *ngIf="isLoading">
                    <div>
                        <p class="text-center">Fetching posts</p>
                        <img class="img-fluid" src="assets/img/loader.gif" alt="">
                    </div>
                </div>
                <div class="row" *ngIf="!isLoading && posts.length <= 0">
                    <div class="col">
                        <h5 class="my-5 text-center error">No more posts at the momment. Try again later...</h5>
                        <a [routerLink]="'/blog'" (click)="fetchPrevious()" class="default-btn"><i class="icofont-rounded-double-left"></i>&nbsp;&nbsp;Back</a>
                    </div>
                </div>
                <div class="row" *ngIf="!isLoading && posts.length > 0">
                    <div class="col-lg-6 col-md-6" *ngFor="let post of posts">
                        <div class="single-card actical-card">
                            <div class="thumb-img">
                                <a [routerLink]="['/blog/s', post._id]">
                                    <img src="{{API_URL}}/{{post.post_image_url}}" class="img-fluid"
                                        alt="News Image" />
                                </a>
                            </div>
                            <div class="caption-text">
                                <h3><a [routerLink]="['/blog/s', post._id]">{{post.post_title}}</a></h3>

                                <ul class="meta-tag">
                                    <li class="author">
                                        <!-- <img src="assets/img/patient/1.jpg" alt=""> -->
                                        <img src="https://img.icons8.com/officel/50/000000/user.png"
                                            class="img-fluid" />
                                        <a href="javascript:void()">{{post.author_fname}} {{post.author_lname}}</a>
                                    </li>
                                    <li>{{post.updatedAt}}</li>
                                    <!-- <li><i class="icofont-speech-comments"></i> 30</li> -->
                                </ul>

                                <!-- <div [innerHTML]="post.introduction"></div> -->
                                <a [routerLink]="['/blog/s', post._id]" [queryParams]="{debug: true}"
                                    class="read-more">Read More <i class="icofont-swoosh-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12">
                        <div class="pagination-area">
                            <nav aria-label="Page navigation">
                                <ul class="pagination justify-content-center">
                                    <li class="page-item" (click)="fetchPrevious()"><a href="javascript:void"
                                            class="page-link"><i class="icofont-hand-drawn-left"></i></a></li>
                                    <li class="page-item" [ngClass]="{'active': currentPage === 0}"
                                        (click)="fetchPage(0)"><a href="javascript:void" class="page-link">1</a></li>
                                    <span *ngFor="let page of pages; let i=index">
                                        <li class="page-item" [ngClass]="{'active': currentPage === i}"
                                            (click)="fetchPage(i)" *ngIf="i !== 0">
                                            <a class="page-link" href="javascript:void">{{i+1}}</a></li>
                                    </span>
                                    <li class="page-item" (click)="fetchNext()"><a href="javascript:void"
                                            class="page-link"><i class="icofont-hand-drawn-right"></i></a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <!-- <div class="col-lg-6 col-md-6">
                        <div class="single-card actical-card">
                            <div class="thumb-img">
                                <a href="blog.html#">
                                    <img src="assets/img/news/1.jpg" alt="News Image" />
                                </a>
                            </div>

                            <div class="caption-text">
                                <h3><a href="blog.html#">Baby Talk: Is Surrogacy An Option?</a></h3>

                                <ul class="meta-tag">
                                    <li class="author">
                                        <img src="assets/img/patient/1.jpg" alt="">
                                        <a href="blog.html#">Dr. Jacson</a>
                                    </li>
                                    <li>5 Jan, 2019</li>
                                    <li><i class="icofont-speech-comments"></i> 30</li>
                                </ul>

                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore</p>

                                <a href="blog.html#" class="read-more">Read More <i
                                        class="icofont-swoosh-right"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6">
                        <div class="single-card actical-card">
                            <div class="thumb-img">
                                <a href="blog.html#">
                                    <img src="assets/img/news/2.jpg" alt="News Image" />
                                </a>
                            </div>

                            <div class="caption-text">
                                <h3><a href="blog.html#">4 Simple Tips To Dental Patient Marketing</a></h3>

                                <ul class="meta-tag">
                                    <li class="author">
                                        <img src="assets/img/patient/1.jpg" alt="">
                                        <a href="blog.html#">Dr. Inline</a>
                                    </li>
                                    <li>8 Jan, 2019</li>
                                    <li><i class="icofont-speech-comments"></i> 30</li>
                                </ul>

                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore</p>

                                <a href="blog.html#" class="read-more">Read More <i
                                        class="icofont-swoosh-right"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6">
                        <div class="single-card actical-card">
                            <div class="thumb-img">
                                <a href="blog.html#">
                                    <img src="assets/img/news/3.jpg" alt="News Image" />
                                </a>
                            </div>

                            <div class="caption-text">
                                <h3><a href="blog.html#">How to Donate Medical Supplies</a></h3>

                                <ul class="meta-tag">
                                    <li class="author">
                                        <img src="assets/img/patient/1.jpg" alt="">
                                        <a href="blog.html#">Dr. Jach</a>
                                    </li>
                                    <li>9 Jan, 2019</li>
                                    <li><i class="icofont-speech-comments"></i> 30</li>
                                </ul>

                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore</p>

                                <a href="blog.html#" class="read-more">Read More <i
                                        class="icofont-swoosh-right"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6">
                        <div class="single-card actical-card">
                            <div class="thumb-img">
                                <a href="blog.html#">
                                    <img src="assets/img/news/4.jpg" alt="News Image" />
                                </a>
                            </div>

                            <div class="caption-text">
                                <h3><a href="blog.html#">Simple First Aid Tips For An Injured Ankle</a></h3>

                                <ul class="meta-tag">
                                    <li class="author">
                                        <img src="assets/img/patient/1.jpg" alt="">
                                        <a href="blog.html#">Dr. Jia</a>
                                    </li>
                                    <li>25 Jan, 2019</li>
                                    <li><i class="icofont-speech-comments"></i> 30</li>
                                </ul>

                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore</p>

                                <a href="blog.html#" class="read-more">Read More <i
                                        class="icofont-swoosh-right"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6">
                        <div class="single-card actical-card">
                            <div class="thumb-img">
                                <a href="blog.html#">
                                    <img src="assets/img/news/5.jpg" alt="News Image" />
                                </a>
                            </div>

                            <div class="caption-text">
                                <h3><a href="blog.html#">Tips for Moms to Detect Medicare Scams</a></h3>

                                <ul class="meta-tag">
                                    <li class="author">
                                        <img src="assets/img/patient/1.jpg" alt="">
                                        <a href="blog.html#">Dr. Smith</a>
                                    </li>
                                    <li>29 Jan, 2019</li>
                                    <li><i class="icofont-speech-comments"></i> 30</li>
                                </ul>

                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore</p>

                                <a href="blog.html#" class="read-more">Read More <i
                                        class="icofont-swoosh-right"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6">
                        <div class="single-card actical-card">
                            <div class="thumb-img">
                                <a href="blog.html#">
                                    <img src="assets/img/news/1.jpg" alt="News Image" />
                                </a>
                            </div>

                            <div class="caption-text">
                                <h3><a href="blog.html#">Baby Talk: Is Surrogacy An Option?</a></h3>

                                <ul class="meta-tag">
                                    <li class="author">
                                        <img src="assets/img/patient/1.jpg" alt="">
                                        <a href="blog.html#">Dr. Jacson</a>
                                    </li>
                                    <li>5 Jan, 2019</li>
                                    <li><i class="icofont-speech-comments"></i> 30</li>
                                </ul>

                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore</p>

                                <a href="blog.html#" class="read-more">Read More <i
                                        class="icofont-swoosh-right"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6">
                        <div class="single-card actical-card">
                            <div class="thumb-img">
                                <a href="blog.html#">
                                    <img src="assets/img/news/2.jpg" alt="News Image" />
                                </a>
                            </div>

                            <div class="caption-text">
                                <h3><a href="blog.html#">4 Simple Tips To Dental Patient Marketing</a></h3>

                                <ul class="meta-tag">
                                    <li class="author">
                                        <img src="assets/img/patient/1.jpg" alt="">
                                        <a href="blog.html#">Dr. Inline</a>
                                    </li>
                                    <li>8 Jan, 2019</li>
                                    <li><i class="icofont-speech-comments"></i> 30</li>
                                </ul>

                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore</p>

                                <a href="blog.html#" class="read-more">Read More <i
                                        class="icofont-swoosh-right"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6">
                        <div class="single-card actical-card">
                            <div class="thumb-img">
                                <a href="blog.html#">
                                    <img src="assets/img/news/3.jpg" alt="News Image" />
                                </a>
                            </div>

                            <div class="caption-text">
                                <h3><a href="blog.html#">How to Donate Medical Supplies</a></h3>

                                <ul class="meta-tag">
                                    <li class="author">
                                        <img src="assets/img/patient/1.jpg" alt="">
                                        <a href="blog.html#">Dr. Jach</a>
                                    </li>
                                    <li>9 Jan, 2019</li>
                                    <li><i class="icofont-speech-comments"></i> 30</li>
                                </ul>

                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore</p>

                                <a href="blog.html#" class="read-more">Read More <i
                                        class="icofont-swoosh-right"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12 col-md-12">
                        <div class="pagination-area">
                            <nav aria-label="Page navigation">
                                <ul class="pagination justify-content-center">
                                    <li class="page-item"><a class="page-link" href="blog.html#"><i
                                                class="icofont-hand-drawn-left"></i></a></li>
                                    <li class="page-item active"><a class="page-link" href="blog.html#">1</a></li>
                                    <li class="page-item"><a class="page-link" href="blog.html#">2</a></li>
                                    <li class="page-item"><a class="page-link" href="blog.html#">3</a></li>
                                    <li class="page-item"><a class="page-link" href="blog.html#">4</a></li>
                                    <li class="page-item"><a class="page-link" href="blog.html#"><i
                                                class="icofont-hand-drawn-right"></i></a></li>
                                </ul>
                            </nav>
                        </div>
                    </div> -->
                </div>
            </div>

            <div class="col-lg-4 col-md-12">
                <app-sidebar></app-sidebar>
            </div>
        </div>
    </div>
</section>

<app-call-to-action></app-call-to-action>