<div class="hero-slider owl-carousel owl-theme">
    <div class="hs-item hs-item-bg1">
        <div class="d-table">
            <div class="d-tablecell">
                <div class="hero-text text-center">
                    <h1>Health Data Services and Solutions</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="hs-item hs-item-bg2">
        <div class="d-table">
            <div class="d-tablecell">
                <div class="hero-text text-center">
                    <h1>Access to Health Professionals</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="hs-item hs-item-bg3">
        <div class="d-table">
            <div class="d-tablecell">
                <div class="hero-text text-center">
                    <h1>Manage Personal Health Data in App</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="hs-item hs-item-bg4">
        <div class="d-table">
            <div class="d-tablecell">
                <div class="hero-text text-center">
                    <h1>Educational Insight by Certified Professional</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="hs-item hs-item-bg5">
        <div class="d-table">
            <div class="d-tablecell">
                <div class="hero-text text-center">
                    <h1>Patient Health Storage</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="hs-item hs-item-bg6">
        <div class="d-table">
            <div class="d-tablecell">
                <div class="hero-text text-center">
                    <h1>AI Data Modelling for Medical Insight</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="hs-item hs-item-bg7">
        <div class="d-table">
            <div class="d-tablecell">
                <div class="hero-text text-center">
                    <h1>Access Two Way Communication in Realtime</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="hs-item hs-item-bg8">
        <div class="d-table">
            <div class="d-tablecell">
                <div class="hero-text text-center">
                    <h1>Linked Healthcare Outside the Hospital </h1>
                </div>
            </div>
        </div>
    </div>

    <div class="hs-item hs-item-bg9">
        <div class="d-table">
            <div class="d-tablecell">
                <div class="hero-text text-center">
                    <h1>Patient Management in Real Time.</h1>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="services-area services-box">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <div class="single-card">
                    <div class="thumb-img">
                        <img src="assets/img/services/s1.jpg" alt="Service Image" />
                    </div>

                    <div class="caption-text text-center">
                        <h3>Store Health</h3>
                        <p>Patients can keep relevant health history including medical records, prescriptions and
                            doctors notes in a
                            secure, easy to access data plaform.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4">
                <div class="single-card">
                    <div class="thumb-img">
                        <img src="assets/img/services/s2.jpg" alt="Service Image" />
                    </div>

                    <div class="caption-text text-center">
                        <h3>Data Driven Solution</h3>
                        <p>Health organizations can collect <b>patient-authorized</b> data and gain insight on how to
                            improve their health through AI data modelling.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 offset-md-3 offset-lg-0">
                <div class="single-card">
                    <div class="thumb-img">
                        <img src="assets/img/services/s3.jpg" alt="Service Image" />
                    </div>

                    <div class="caption-text text-center">
                        <h3>Education</h3>
                        <p>Health practitioners and organizations can push their health content to patients in form of
                            surveys, health articles and insights on medications.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="about-section ptb-100">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-md-12 col-lg-6">
                <div class="about-us-img">
                    <img src="assets/img/data-intro.jpg" alt="About Us Image">
                </div>
            </div>

            <div class="col-md-12 col-lg-6">
                <div class="about-us-text">
                    <h2>We Are a Consumer-Driven Health Data Platform Built on AI and Blockchain Technology.</h2>

                    <p>
                        Lack of accurate health data is the biggest disease in itself.
                    </p>

                    <p>In Afya Rekod we join forces with you and take individual steps to ensure that we store and keep
                        track of our health records.
                    </p>
                    <p>
                        Besides storing your health and medical information, we provide an efficient way for you to have
                        access to your health information at any time and at any place in the world.
                    </p>
                    <p>
                        Let's join hands and build a better health.
                    </p>

                    <a [routerLink]="'/about'" class="default-btn float-right ml-auto"><i
                            class="icofont-rounded-double-right"></i>&nbsp;&nbsp;About Us</a>
                </div>
            </div>
        </div>
    </div>
</section>

<app-call-to-action></app-call-to-action>

<section class="department-section pt-100 pb-50 gray-bg">
    <div class="container">
        <div class="section-title">
            <h2>General Services</h2>
            <p>We got you covered in the following key areas.</p>
        </div>

        <div class="row">
            <div class="col-md-4 col-lg-3">
                <div class="single-department">
                    <i class="icofont-database-locked"></i>
                    <h3>Data Storage</h3>
                    <p>Store your relevant data as a patient and access it later, or share it with your doctor(s)/health
                        organization(s).</p>
                </div>
            </div>
            <div class="col-md-4 col-lg-3">
                <div class="single-department">
                    <i class="icofont-chart-histogram"></i>
                    <h3>Great Analytics</h3>
                    <p>As a health organization, get a platform that gives insight and trends in your
                        accessible/authorized patient data.</p>
                </div>
            </div>
            <div class="col-md-4 col-lg-3">
                <div class="single-department">
                    <i class="icofont-ui-text-chat"></i>
                    <h3>Realtime Chat</h3>
                    <p>Organizations, doctors and patients can communicate with each other through the live chat
                        support.</p>
                </div>
            </div>
            <div class="col-md-4 col-lg-3">
                <div class="single-department">
                    <i class="icofont-education"></i>
                    <h3>Patient Education</h3>
                    <p>Patients can access articles and health content published by their health organizations or their
                        doctors.</p>
                </div>
            </div>
            <div class="col-md-4 col-lg-3">
                <div class="single-department">
                    <i class="icofont-medical-sign"></i>
                    <h3>Telehealth</h3>
                    <p>Doctors are given a way to reach their patients through online appointments, chats and
                        information sharing.</p>
                </div>
            </div>
            <div class="col-md-4 col-lg-3">
                <div class="single-department">
                    <i class="icofont-money"></i>
                    <h3>Income Generation</h3>
                    <p>Patients can generate income by participating in organization/institution based surveys.</p>
                </div>
            </div>
            <div class="col-md-4 col-lg-3">
                <div class="single-department">
                    <i class="icofont-patient-file"></i>
                    <h3>Self Assessments</h3>
                    <p>Take a self assessment of your health both in the mobile app and in the USSD application.</p>
                </div>
            </div>
            <div class="col-md-4 col-lg-3">
                <div class="single-department">
                    <i class="icofont-ebook"></i>
                    <h3>Daily Health Updates</h3>
                    <p>Update your daily health diary to keep track of your symptoms, diseases, medications and any
                        prescriptions you take.</p>
                </div>
            </div>
            <a [routerLink]="'/services'" class="default-btn float-right ml-auto"><i
                    class="icofont-rounded-double-right" style="font-size: larger;"></i>&nbsp;&nbsp;Read More</a>
        </div>
    </div>
</section>

<section class="video-section ptb-100">
    <div class="container">
        <div class="section-title white-title">
            <h2>Watch Our Video</h2>
            <p>What is AfyaRekod? Why AfyaRekod at all? This introduction will explain to you in summary what AfyaRekod
                is all about. Who we are and what we do as an AI driven platform.</p>
        </div>

        <div class="video-content mb-minus-330">
            <div class="d-table">
                <div class="d-tablecell">
                    <div class="sonar-wrapper">
                        <div class="sonar-emitter">
                            <div class="sonar-wave"></div>
                            <a href="https://www.youtube.com/watch?v=QFk8mdhEvWM" class="play-video popup-youtube">
                                <i class="icofont-play"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- <div class="counter-section pt-100 pb-70 pt-330">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-3">
                <div class="single-counter">
                    <i class="icofont-simple-smile"></i>
                    <h3 class="counter">25000</h3>
                    <p>Happy Patients</p>
                </div>
            </div>

            <div class="col-sm-6 col-md-6 col-lg-3">
                <div class="single-counter">
                    <i class="icofont-doctor-alt"></i>
                    <h3 class="counter">180</h3>
                    <p>Experienced Doctors</p>
                </div>
            </div>

            <div class="col-sm-6 col-md-6 col-lg-3">
                <div class="single-counter">
                    <i class="icofont-operation-theater"></i>
                    <h3 class="counter">1500</h3>
                    <p>Successful Operations</p>
                </div>
            </div>

            <div class="col-sm-6 col-md-6 col-lg-3">
                <div class="single-counter">
                    <i class="icofont-bed"></i>
                    <h3 class="counter">2800</h3>
                    <p>Numbers of Beds</p>
                </div>
            </div>
        </div>
    </div>
</div> -->

<div class="ptb-90">&nbsp;</div>
<section class="expert-doctors ptb-100 gray-bg pb-70">
    <div class="container">
        <div class="section-title">
            <h2>Our Team</h2>
            <p>
                Meet our team members who are experts in a wide range of industries including AI, Medical, Blockchain
                and PR.
                Their combined expertise is our greatest asset and what will propel our growth.
            </p>
        </div>

        <div class="expert-doctors-carousel owl-carousel owl-theme owl-theme-2">
            <div class="single-card">
                <div class="thumb-img">
                    <img src="assets/img/team/john.jpg" alt="Mr. John Kamara" />
                    <div class="hover-social">
                        <div class="d-table">
                            <div class="d-tablecell">
                                <ul>
                                    <li>
                                        <a href="https://linkedin.com/in/johnkamara" target="_blank">
                                            <i class="icofont-linkedin"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="caption-text text-center">
                    <h3>John Kamara</h3>
                    <span class="designation mb-10">Founder & CEO</span>
                    <p>John is a tech entrepreneur(AI, Blockchain, IOT) and also a keynote speaker. He is the founder of
                        Jamborow, Afyarekod and Adalabs</p>
                </div>
            </div>

            <div class="single-card">
                <div class="thumb-img">
                    <img src="assets/img/team/irene.png" alt="Irene Kiwia" />
                    <div class="hover-social">
                        <div class="d-table">
                            <div class="d-tablecell">
                                <ul>
                                    <li>
                                        <a href="https://linkedin.com/in/kiwiairene" target="_blank">
                                            <i class="icofont-linkedin"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="caption-text text-center">
                    <h3>Irene Kiwia</h3>
                    <span class="designation mb-10">Co-Founder & Board Member</span>
                    <p>
                        Irene Kiwia is a tech entrepreneur and women and youth empowerment proponent.
                    </p>
                </div>
            </div>

            <div class="single-card">
                <div class="thumb-img">
                    <img src="assets/img/team/nancy.png" alt="Nancy Christiano" />
                    <div class="hover-social">
                        <div class="d-table">
                            <div class="d-tablecell">
                                <ul>
                                    <li>
                                        <a href="https://linkedin.com/in/nancy-dyste-christiano" target="_blank">
                                            <i class="icofont-linkedin"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="caption-text text-center">
                    <h3>Nancy Christiano</h3>
                    <span class="designation mb-10">Co-Founder</span>
                    <p>
                        Nancy is an entrepreneur with focus in connecting people, products & services to benefit
                        humanity.
                    </p>
                </div>
            </div>

            <div class="single-card">
                <div class="thumb-img">
                    <img src="assets/img/team/ron.png" alt="Ronald Harris" />
                    <div class="hover-social">
                        <div class="d-table">
                            <div class="d-tablecell">
                                <ul>
                                    <li>
                                        <a href="https://www.linkedin.com/in/ronald-m-harris-md-mba-faad-32969b18/"
                                            target="_blank">
                                            <i class="icofont-linkedin"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="caption-text text-center">
                    <h3>Dr.Ronald Harries</h3>
                    <span class="designation mb-10">Co-Founder</span>
                    <p>
                        Ronal is a clinical professor of dermatology, UC Irvine
                    </p>
                </div>
            </div>
            <div class="single-card">
                <div class="thumb-img">
                    <img src="assets/img/team/nixon.jpg" alt="Nixon M. Gecheo" />
                    <div class="hover-social">
                        <div class="d-table">
                            <div class="d-tablecell">
                                <ul>
                                    <li>
                                        <a href="https://www.linkedin.com/in/nixon-mageka-8482b966/" target="_blank">
                                            <i class="icofont-linkedin"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="caption-text text-center">
                    <h3>Nixon Mageka Gecheo </h3>
                    <span class="designation mb-10">Board Member</span>
                    <p>
                        Nixon is the director of government affairs in Kenya.
                    </p>
                </div>
            </div>
            <div class="single-card">
                <div class="thumb-img">
                    <img src="assets/img/team/bendon.jpg" alt="Bendon Mugor" />
                    <div class="hover-social">
                        <div class="d-table">
                            <div class="d-tablecell">
                                <ul>
                                    <li>
                                        <a href="https://www.linkedin.com/in/bendonmurgor/" target="_blank">
                                            <i class="icofont-linkedin"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="caption-text text-center">
                    <h3>Bendon Mugor</h3>
                    <span class="designation mb-10">CTO (Chief Technology Officer)</span>
                    <p>
                        Bendon is the CEO at Paylend Ltd.
                    </p>
                </div>
            </div>

            <div class="single-card">
                <div class="thumb-img">
                    <img src="assets/img/team/zuhudi.jpg" alt="Zuhudi Hani" />
                    <div class="hover-social">
                        <div class="d-table">
                            <div class="d-tablecell">
                                <ul>
                                    <li>
                                        <a href="https://www.linkedin.com/in/umuhany-zuhudi/" target="_blank">
                                            <i class="icofont-linkedin"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="caption-text text-center">
                    <h3>Umuhany Zuhudi</h3>
                    <span class="designation mb-10">General Manager</span>
                    <p>
                        Zuhudi is a Product Manager | Enabling Startups in Africa.
                    </p>
                </div>
            </div>

            <div class="single-card">
                <div class="thumb-img">
                    <img src="assets/img/team/jane.png" alt="Dr. Jane Thomas" />
                    <div class="hover-social">
                        <div class="d-table">
                            <div class="d-tablecell">
                                <ul>
                                    <li>
                                        <a href="https://www.linkedin.com/in/umuhany-zuhudi/" target="_blank">
                                            <i class="icofont-linkedin"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="caption-text text-center">
                    <h3>Dr. Jane Thomas</h3>
                    <span class="designation mb-10">Advisor</span>
                    <p>
                        Jane is a former adviser of WHO and the CEO of Fintech World Wide.
                    </p>
                </div>
            </div>

            <div class="single-card">
                <div class="thumb-img">
                    <img src="assets/img/team/mapes.png" alt="Dan Mapes" />
                    <div class="hover-social">
                        <div class="d-table">
                            <div class="d-tablecell">
                                <ul>
                                    <li>
                                        <a href="https://www.linkedin.com/in/danmapes/" target="_blank">
                                            <i class="icofont-linkedin"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="caption-text text-center">
                    <h3>Dan Mapes</h3>
                    <span class="designation mb-10">Advisor</span>
                    <p>
                        Dan is the founder of Verses.io and The Spatial Web Foundation
                    </p>
                </div>
            </div>

            <div class="single-card">
                <div class="thumb-img">
                    <img src="assets/img/team/molinari.jpg" alt="Vince Monilari" />
                    <div class="hover-social">
                        <div class="d-table">
                            <div class="d-tablecell">
                                <ul>
                                    <li>
                                        <a href="https://www.linkedin.com/in/vincemolinari/" target="_blank">
                                            <i class="icofont-linkedin"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="caption-text text-center">
                    <h3>Vince Monilari</h3>
                    <span class="designation mb-10">Advisor</span>
                    <p>
                        Vince is one of the hosts at Fintech.TV & TheIMPACT
                    </p>
                </div>
            </div>

            <div class="single-card">
                <div class="thumb-img">
                    <img src="assets/img/team/gamil.png" alt="Gamil de Chadarevian" />
                    <div class="hover-social">
                        <div class="d-table">
                            <div class="d-tablecell">
                                <ul>
                                    <li>
                                        <a href="https://afyarekod.com/#" target="_blank">
                                            <i class="icofont-linkedin"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="caption-text text-center">
                    <h3>Gamil de Chadarevian</h3>
                    <span class="designation mb-10">Advisor</span>
                    <p>
                        Gamil is the Founder & Director of GIST Initiatives Ltd and GIST Holdings Ltd.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="appointment-area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 col-lg-5 p-0">
                <div class="contant-number">
                    <h3><i class="icofont-phone"></i> +254 700 00 0000</h3>
                </div>
            </div>
            <div class="col-md-12 col-lg-7 p-0">
                <div class="appointment-form">
                    <h2 class="title">Leave us a Message</h2>
                    <form>
                        <div class="row my-2">
                            <div class="col-md-6 col-lg-6 pr-10 my-2">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="id_name" placeholder="Name">
                                </div>
                            </div>

                            <div class="col-md-6 col-lg-6 pl-10 my-2">
                                <div class="form-group">
                                    <input type="email" class="form-control" id="id_email" placeholder="Email">
                                </div>
                            </div>

                            <div class="col-md-6 col-lg-6 pr-10 my-2">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="id_phone_number"
                                        placeholder="Phone Number">
                                </div>
                            </div>
                        </div>

                        <div class="form-group my-2">
                            <textarea class="form-control" id="message" rows="6" placeholder="Message"></textarea>
                        </div>

                        <button type="submit" class="btn book-now-btn mt-4 float-right ml-auto"><i
                                class="icofont-rounded-double-right"></i>&nbsp;&nbsp;Send Now</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="patient-feedback ptb-100">
    <div class="container">
        <div class="section-title">
            <h2>Our Patners</h2>
            <p>The following are our patners.</p>
        </div>

        <div class="feedback-carousel owl-carousel owl-theme owl-theme-2">
            <div class="single-feedback">
                <a href="https://adalabsafrica.com/" target="_blank">
                    <img src="assets/img/patners/ada.png" alt="Adalabs Africa" />
                </a>
            </div>

            <div class="single-feedback">
                <a href="https://checkupsmed.com/" target="_blank">
                    <img src="assets/img/patners/checkups.png" alt="Patient" />
                </a>
            </div>
            <div class="single-feedback">
                <a href="#" target="_blank">
                    <img src="assets/img/patners/dalberg.png" alt="Dalberg" />
                </a>
            </div>

            <div class="single-feedback">
                <a href="http://machineintelligenceafrica.org/" target="_blank">
                    <img src="assets/img/patners/machine.png" alt="Machine Intelligence of Africa" />
                </a>
            </div>

            <div class="single-feedback">
                <a href="https://www.nm-aist.ac.tz/" target="_blank">
                    <img src="assets/img/patners/nelson.png"
                        alt="Nelsom Mandela Afrcian Institute of Science and Technology" />
                </a>
            </div>
            <div class="single-feedback">
                <a href="https://www.telkom.co.ke" target="_blank">
                    <img src="assets/img/patners/telkom.png" alt="Telkom Mobile Service Provider" />
                </a>
            </div>
            <div class="single-feedback">
                <a href="https://www.verses.io/" target="_blank">
                    <img src="assets/img/patners/verse.png" alt="Verse.io" />
                </a>
            </div>
        </div>
    </div>
</section>

<section class="latest-news ptb-100 pb-70 gray-bg">
    <div class="container">
        <div class="section-title">
            <h2>Latest News</h2>
            <p>Here are some of our top content. To read more news, articles and other content, visit our blog section.
            </p>
        </div>
        <div class="loading" *ngIf="isLoading">
            <div class="row justify-content-center" *ngIf="isLoading">
                <div class="col-lg-4">
                    <p class="text-center">Fetching news</p>
                    <img class="img-fluid" src="assets/img/loader.gif" alt="">
                </div>
            </div>
        </div>
        <div *ngIf="!isLoading">
            <div class="latest-news-carousel">
                <div class="row">
                    <div class="col-12 col-lg-4">
                        <div class="single-card actical-card">
                            <div class="thumb-img">
                                <a [routerLink]="['/blog/s', posts[0]._id]">
                                    <img src="{{API_URL}}/{{posts[0].post_image_url}}" alt="News Image" />
                                </a>
                            </div>

                            <div class="caption-text">
                                <h3><a [routerLink]="['/blog/s', posts[0]._id]">{{posts[0].post_title}}</a></h3>

                                <ul class="meta-tag">
                                    <li class="author">
                                        <img src="assets/img/patient/1.jpg" alt="">
                                        <a href="javascript:void">{{posts[0].author_fname}}</a>
                                    </li>
                                    <li>{{posts[0].createdAt}}</li>
                                    <li><i class="icofont-speech-comments"></i> 30</li>
                                </ul>

                                <div [innerHTML]="posts[0].post_title"></div>

                                <a [routerLink]="['/blog/s', posts[0]._id]" class="read-more">Read More <i
                                        class="icofont-swoosh-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4">
                        <div class="single-card actical-card">
                            <div class="thumb-img">
                                <a [routerLink]="['/blog/s', posts[1]._id]">
                                    <img src="{{API_URL}}/{{posts[1].post_image_url}}" alt="News Image" />
                                </a>
                            </div>

                            <div class="caption-text">
                                <h3><a [routerLink]="['/blog/s', posts[1]._id]">{{posts[1].post_title}}</a></h3>

                                <ul class="meta-tag">
                                    <li class="author">
                                        <img src="assets/img/patient/1.jpg" alt="">
                                        <a href="javascript:void">{{posts[1].author_fname}}</a>
                                    </li>
                                    <li>{{posts[1].createdAt}}</li>
                                    <li><i class="icofont-speech-comments"></i> 30</li>
                                </ul>

                                <div [innerHTML]="posts[1].post_title"></div>

                                <a [routerLink]="['/blog/s', posts[1]._id]" class="read-more">Read More <i
                                        class="icofont-swoosh-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4">
                        <div class="single-card actical-card">
                            <div class="thumb-img">
                                <a [routerLink]="['/blog/s', posts[2]._id]">
                                    <img src="{{API_URL}}/{{posts[2].post_image_url}}" alt="News Image" />
                                </a>
                            </div>

                            <div class="caption-text">
                                <h3><a [routerLink]="['/blog/s', posts[2]._id]">{{posts[2].post_title}}</a></h3>

                                <ul class="meta-tag">
                                    <li class="author">
                                        <img src="assets/img/patient/1.jpg" alt="">
                                        <a href="javascript:void">{{posts[2].author_fname}}</a>
                                    </li>
                                    <li>{{posts[2].createdAt}}</li>
                                    <li><i class="icofont-speech-comments"></i> 30</li>
                                </ul>

                                <div [innerHTML]="posts[2].post_title"></div>

                                <a [routerLink]="['/blog/s', posts[2]._id]" class="read-more">Read More <i
                                        class="icofont-swoosh-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<app-newsletter></app-newsletter>

<!-- 

     
            <div class="single-card actical-card">
                <div class="thumb-img">
                    <a [routerLink]="['/blog/s', posts[1]._id]">
                        <img src="{{API_URL}}/{{posts[1].post_image_url}}" alt="News Image" />
                    </a>
                </div>

                <div class="caption-text">
                    <h3><a [routerLink]="['/blog/s', posts[1]._id]">{{posts[1].post_title}}</a></h3>

                    <ul class="meta-tag">
                        <li class="author">
                            <img src="assets/img/patient/1.jpg" alt="">
                            <a href="javascript:void">{{posts[1].author_fname}}</a>
                        </li>
                        <li>{{posts[1].createdAt}}</li>
                        <li><i class="icofont-speech-comments"></i> 30</li>
                    </ul>

                    <div [innerHTML]="posts[1].post_title"></div>

                    <a [routerLink]="['/blog/s', posts[1]._id]" class="read-more">Read More <i
                            class="icofont-swoosh-right"></i></a>
                </div>
            </div>
            <div class="single-card actical-card">
                <div class="thumb-img">
                    <a [routerLink]="['/blog/s', posts[2]._id]">
                        <img src="{{API_URL}}/{{posts[2].post_image_url}}" alt="News Image" />
                    </a>
                </div>

                <div class="caption-text">
                    <h3><a [routerLink]="['/blog/s', posts[2]._id]">{{posts[2].post_title}}</a></h3>

                    <ul class="meta-tag">
                        <li class="author">
                            <img src="assets/img/patient/1.jpg" alt="">
                            <a href="javascript:void">{{posts[2].author_fname}}</a>
                        </li>
                        <li>{{posts[2].createdAt}}</li>
                        <li><i class="icofont-speech-comments"></i> 30</li>
                    </ul>

                    <div [innerHTML]="posts[2].post_title"></div>

                    <a [routerLink]="['/blog/s', posts[2]._id]" class="read-more">Read More <i
                            class="icofont-swoosh-right"></i></a>
                </div>
            </div>
            <div class="single-card actical-card">
                <div class="thumb-img">
                    <a [routerLink]="['/blog/s', posts[3]._id]">
                        <img src="{{API_URL}}/{{posts[3].post_image_url}}" alt="News Image" />
                    </a>
                </div>

                <div class="caption-text">
                    <h3><a [routerLink]="['/blog/s', posts[3]._id]">{{posts[3].post_title}}</a></h3>

                    <ul class="meta-tag">
                        <li class="author">
                            <img src="assets/img/patient/1.jpg" alt="">
                            <a href="javascript:void">{{posts[3].author_fname}}</a>
                        </li>
                        <li>{{posts[3].createdAt}}</li>
                        <li><i class="icofont-speech-comments"></i> 30</li>
                    </ul>

                    <div [innerHTML]="posts[3].post_title"></div>

                    <a [routerLink]="['/blog/s', posts[3]._id]" class="read-more">Read More <i
                            class="icofont-swoosh-right"></i></a>
                </div>
            </div>
            <div class="single-card actical-card">
                <div class="thumb-img">
                    <a [routerLink]="['/blog/s', posts[3]._id]">
                        <img src="{{API_URL}}/{{posts[3].post_image_url}}" alt="News Image" />
                    </a>
                </div>

                <div class="caption-text">
                    <h3><a [routerLink]="['/blog/s', posts[4]._id]">{{posts[4].post_title}}</a></h3>

                    <ul class="meta-tag">
                        <li class="author">
                            <img src="assets/img/patient/1.jpg" alt="">
                            <a href="javascript:void">{{posts[4].author_fname}}</a>
                        </li>
                        <li>{{posts[4].createdAt}}</li>
                        <li><i class="icofont-speech-comments"></i> 30</li>
                    </ul>

                    <div [innerHTML]="posts[4].post_title"></div>

                    <a [routerLink]="['/blog/s', posts[4]._id]" class="read-more">Read More <i
                            class="icofont-swoosh-right"></i></a>
                </div>
            </div>
 -->