<div class="page-title">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-7">
                <h2>Documents</h2>
            </div>

            <div class="col-md-6 col-lg-5">
                <ul>
                    <li><a [routerLink]="'/home'">Home</a></li>
                    <li>Documents</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<section class="contact-area ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="contact-info">
                    <h2>Available Documents</h2>
                    <hr>
                    <ul>
                        <div class="row">
                            <div class="col-xl-12">
                                <h5 class="my-2">General documents</h5>
                            </div>
                            <div class="col-xl-6">
                                <li>
                                    <i class="icofont-attachment"></i> 
                                    <a [routerLink]="'/documents/health'" [queryParams]="{doc:'terms', title: 'Terms and Conditions'}">Afya Rekods Terms and Conditions</a>
                                </li>
                            </div>
                            <div class="col-xl-6">
                                <li>
                                    <i class="icofont-attachment"></i> 
                                    <a [routerLink]="'/documents/health'" [queryParams]="{doc:'privacy', title: 'Privacy Policy'}">Afya Rekod's Privacy Statement</a>
                                </li>
                            </div>
                            <div class="col-xl-6">
                                <li>
                                    <i class="icofont-attachment"></i> 
                                    <a [routerLink]="'/documents/health'" [queryParams]="{doc:'covidcertificate', title: 'COVID-19 Testing Certificate'}">COVID-19 Testing Certificate</a>
                                </li>
                            </div>
                        </div>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<app-call-to-action></app-call-to-action>