<div class="page-title">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-7">
                <h2>AfyaRekod Members</h2>
            </div>

            <div class="col-md-6 col-lg-5">
                <ul>
                    <li><a [routerLink]="'/home'">Home</a></li>
                    <li>Members</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<section class="expert-doctors ptb-100 gray-bg pb-70">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <h2 class="section-title">Management Team</h2>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-card">
                    <div class="thumb-img">
                        <img src="assets/img/team/john.jpg" alt="Mr. John Kamara" />
                        <div class="hover-social">
                            <div class="d-table">
                                <div class="d-tablecell">
                                    <ul>
                                        <li>
                                            <a href="https://linkedin.com/in/johnkamara" target="_blank">
                                                <i class="icofont-linkedin"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="caption-text text-center">
                        <h3>John Kamara</h3>
                        <span class="designation mb-10">Founder & CEO</span>
                        <p>John is a tech entrepreneur(AI, Blockchain, IOT) and also a keynote speaker. He is the
                            founder of
                            Jamborow, Afyarekod and Adalabs</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single-card">
                    <div class="thumb-img">
                        <img src="assets/img/team/irene.png" alt="Irene Kiwia" />
                        <div class="hover-social">
                            <div class="d-table">
                                <div class="d-tablecell">
                                    <ul>
                                        <li>
                                            <a href="https://linkedin.com/in/kiwiairene" target="_blank">
                                                <i class="icofont-linkedin"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="caption-text text-center">
                        <h3>Irene Kiwia</h3>
                        <span class="designation mb-10">Co-Founder</span>
                        <p>
                            Irene Kiwia is a tech entrepreneur and women and youth empowerment proponent.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single-card">
                    <div class="thumb-img">
                        <img src="assets/img/team/bendon.jpg" alt="Bendon Mugor" />
                        <div class="hover-social">
                            <div class="d-table">
                                <div class="d-tablecell">
                                    <ul>
                                        <li>
                                            <a href="https://www.linkedin.com/in/bendonmurgor/" target="_blank">
                                                <i class="icofont-linkedin"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="caption-text text-center">
                        <h3>Bendon Mugor</h3>
                        <span class="designation mb-10">CTO (Chief Technology Officer)</span>
                        <p>
                            Bendon is Chief Executive Officer at Paylend Ltd.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single-card">
                    <div class="thumb-img">
                        <img src="assets/img/team/zuhudi.jpg" alt="Zuhudi Hani" />
                        <div class="hover-social">
                            <div class="d-table">
                                <div class="d-tablecell">
                                    <ul>
                                        <li>
                                            <a href="https://www.linkedin.com/in/umuhany-zuhudi/" target="_blank">
                                                <i class="icofont-linkedin"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="caption-text text-center">
                        <h3>Umuhany Zuhudi</h3>
                        <span class="designation mb-10">General Manager</span>
                        <p>
                            Zuhudi is a Product Manager | Enabling Startups in Africa.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <h2 class="section-title">Medical Team</h2>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single-card">
                    <div class="thumb-img">
                        <img src="assets/img/team/ron.jpg" alt="Ronald Harris" />
                        <div class="hover-social">
                            <div class="d-table">
                                <div class="d-tablecell">
                                    <ul>
                                        <li>
                                            <a href="https://www.linkedin.com/in/ronald-m-harris-md-mba-faad-32969b18/"
                                                target="_blank">
                                                <i class="icofont-linkedin"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="caption-text text-center">
                        <h3>Dr.Ronald Harries</h3>
                        <span class="designation mb-10">Co-Founder</span>
                        <p>
                            Ronal is a clinical professor of dermatology, UC Irvine
                        </p>
                    </div>
                </div>
            </div>

            <div class="single-card">
                <div class="thumb-img">
                    <img src="assets/img/team/loise.jpg" alt="Dr. Loise Ngugi" />
                    <div class="hover-social">
                        <div class="d-table">
                            <div class="d-tablecell">
                                <ul>
                                    <li>
                                        <a href="https://www.linkedin.com/in/loise-ngugi-83837513a" target="_blank">
                                            <i class="icofont-linkedin"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="caption-text text-center">
                    <h3>Dr. Loise Ngugi</h3>
                    <span class="designation mb-10">Management</span>
                    <p>
                        Head of medical services
                    </p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single-card">
                    <div class="thumb-img">
                        <img src="assets/img/doctors/2.jpg" alt="Dr Maringo" />
                        <div class="hover-social">
                            <div class="d-table">
                                <div class="d-tablecell">
                                    <ul>
                                        <li>
                                            <a href="#">
                                                <i class="icofont-linkedin"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="caption-text text-center">
                        <h3>Dr. Maringo</h3>
                        <span class="designation mb-10">Cardiology</span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <h2 class="section-title">Adivisory Board</h2>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-card">
                    <div class="thumb-img">
                        <img src="assets/img/team/nixon.jpg" alt="Nixon M. Gecheo" />
                        <div class="hover-social">
                            <div class="d-table">
                                <div class="d-tablecell">
                                    <ul>
                                        <li>
                                            <a href="https://www.linkedin.com/in/nixon-mageka-8482b966/"
                                                target="_blank">
                                                <i class="icofont-linkedin"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="caption-text text-center">
                        <h3>Nixon Mageka Gecheo </h3>
                        <span class="designation mb-10">Board Member</span>
                        <p>
                            Nixon is the director of government affairs in Kenya.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single-card">
                    <div class="thumb-img">
                        <img src="assets/img/team/nancy.png" alt="Nancy Christiano" />
                        <div class="hover-social">
                            <div class="d-table">
                                <div class="d-tablecell">
                                    <ul>
                                        <li>
                                            <a href="https://linkedin.com/in/nancy-dyste-christiano" target="_blank">
                                                <i class="icofont-linkedin"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="caption-text text-center">
                        <h3>Nancy Christiano</h3>
                        <span class="designation mb-10">Advisor</span>
                        <p>
                            Nancy is an entrepreneur with focus in connecting people, products & services to benefit
                            humanity.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single-card">
                    <div class="thumb-img">
                        <img src="assets/img/team/jane.png" alt="Dr. Jane Thomas" />
                        <div class="hover-social">
                            <div class="d-table">
                                <div class="d-tablecell">
                                    <ul>
                                        <li>
                                            <a href="https://www.linkedin.com/in/umuhany-zuhudi/" target="_blank">
                                                <i class="icofont-linkedin"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="caption-text text-center">
                        <h3>Dr. Jane Thomas</h3>
                        <span class="designation mb-10">Advisor</span>
                        <p>
                            Jane is a former adviser of WHO and the CEO of Fintech World Wide.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single-card">
                    <div class="thumb-img">
                        <img src="assets/img/team/mapes.jpg" alt="Dan Mapes" />
                        <div class="hover-social">
                            <div class="d-table">
                                <div class="d-tablecell">
                                    <ul>
                                        <li>
                                            <a href="https://www.linkedin.com/in/danmapes/" target="_blank">
                                                <i class="icofont-linkedin"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="caption-text text-center">
                        <h3>Dan Mapes</h3>
                        <span class="designation mb-10">Advisor</span>
                        <p>
                            Dan is the founder of Verses.io and The Spatial Web Foundation
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single-card">
                    <div class="thumb-img">
                        <img src="assets/img/team/molinari.jpg" alt="Vince Monilari" />
                        <div class="hover-social">
                            <div class="d-table">
                                <div class="d-tablecell">
                                    <ul>
                                        <li>
                                            <a href="https://www.linkedin.com/in/vincemolinari/" target="_blank">
                                                <i class="icofont-linkedin"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="caption-text text-center">
                        <h3>Vince Monilari</h3>
                        <span class="designation mb-10">Advisor</span>
                        <p>
                            Vince is one of the hosts at Fintech.TV & TheIMPACT
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-card">
                    <div class="thumb-img">
                        <img src="assets/img/team/gamil.png" alt="Gamil de Chadarevian" />
                        <div class="hover-social">
                            <div class="d-table">
                                <div class="d-tablecell">
                                    <ul>
                                        <li>
                                            <a href="https://afyarekod.com/#" target="_blank">
                                                <i class="icofont-linkedin"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="caption-text text-center">
                        <h3>Gamil de Chadarevian</h3>
                        <span class="designation mb-10">Advisor</span>
                        <p>
                            Gamil is the Founder & Director of GIST Initiatives Ltd and GIST Holdings Ltd.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<app-call-to-action></app-call-to-action>